@import './../../../../../../nuance/src/nuance_assets/shared/styles/Colors';

h1{
    color: $accent-color;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  
    .form-group {
        display: flex;
        flex-direction: column;
    }
  
    label {
        font-size: x-small;
        margin-bottom: 5px;
    }
  
    input[type="text"] {
        padding: 8px;
       
        border: 1px solid #ccc;
        background: none;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        color: black;
    }
  
    button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: $accent-color;
        color: white;
        cursor: pointer;
  
        &:hover {
            background-color: darken($accent-color, 10%);
        }
    }
  }
  
  
  