
.comments-wrapper{
    width: calc(100vw - 140px);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    row-gap: 40px;
    column-gap: 40px;
    margin: 20px;
}

.loading-wrapper{
    width: calc(100vw - 100px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}