@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../../shared/styles/Colors';

.create-edit-article-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  .left {
    .left-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 70px 0 0 0;
      .date {
        transform-origin: center;
        transform: rotate(-90deg);
        margin: 15px -15px 100px 0;
        color: $darker-border-color;
      }
      .menus {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 10px 0;
      }

      p {
        margin: 15px 0;
      }
      img {
        width: min-content;
      }
    }
    .left-sidebar {
      display: none;
    }
  }
  .horizontal-divider {
    height: 1px;
    background-color: $light-border-color;
    margin: 15px 0;
    width: 100%;
  }
  .right {
    margin: 40px 0 0 20px;
    width: 50%;
    margin-bottom: 300px;
    .right-position {
      max-width: 100%;
      .right-text {
        font-family: Roboto;
        font-weight: 500;
        font-size: 12px;
        color: $darker-border-color;
        margin: -28px 0 50px 0;
      }

      .upload-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0 50px 0;
        background-color: $upload-picture-color;
        height: 39px;
        width: 100%;
        cursor: pointer;
      }
      .uploaded-pic {
        max-width: 100%;
        padding-bottom: 25px;
      }
    }
  }
  .vertical-divider {
    width: 1px;
    height: 100vh;
    background-color: $vertical-divider;
    margin: 70px 50px 0 35px;
  }
  .left-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    color: $darker-border-color;
  }
  .NFT-field-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .NFT-left-text{
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    color: $darker-border-color;
    margin: 20px 0 20px 0;
    text-align: left;
  }
  .NFT-left-text-container{
    width: 220px;
    
  }
  .premium-button-container
  {
    margin:0px;
  }
  .left-text-bottom {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    color: $darker-border-color;
    margin: 20px 0 20px 0;
  }
  .footer-image-section {
    padding-top: 30px;
  }
  .hideUpdateButton {
    display: none;
  }

  .NFT-icon {
    
    margin: 0 5px 0 0;
  }
  .premium-modal{
   
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(67, 223, 186, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .premium-modal-content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    color: $primary-text-color;
   
    background-color: white;
    z-index: 101;
    display: flex;
    padding: 20px;

    flex-direction: column;
    align-items: flex-end;

    max-width: 100%;
    max-height: 90%;
   
  }
  .modal-inner-container{
    color: $primary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
    max-width: 525px;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  .modal-inputs-container{
    display: flex;
    
  }
  .modal-inputs{
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    color: rgb(21, 20, 81);
    display: flex;
    flex-direction: column;
  }
  .NFT-number-of-keys{
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    color: $darker-border-color;

  }
  .ICP-units{
    color: $primary-text-color;
    display: flex;
    align-items: center;
    margin: 20px 0 0px -70px;
  }

  .modal-inner-text{
    color: $primary-text-color;
    display: flex;
  }
  .NFT-terms-and-conditions{
    display: flex;
    align-items: baseline;
    flex-direction: baseline;

  }
  .NFT-terms-and-conditions-text{
    color: $primary-text-color;
    margin-left: 10px;
  }
  .NFT-terms-and-conditions-checkbox
  {
    margin-top:10px;
   display: flex;
  }
  .modal-content-block{
    padding: 30px;
  }
}

.title-post-info-wrapper {
  padding: 0 0 0 25px;

  .nft-lock-icon{
    width: 30px;
    margin-bottom: 70px;
  }.title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: #00113E;
  }
    .subtitle {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      color: #999999;
    }

}

.header-content-wrapper {
  padding: 0 0 0 25px;
  width: 120%;

  .header-image {
    height: 600px;
    object-fit: cover;
    margin-left: -91px;
    width: -webkit-fill-available;
    margin-bottom: 20px;
    background: white;
  }

  .text {
    a:visited {
      color: purple !important;
      font-size: 18px;
    }

    width: 100%;

    a {
      color: $link-color !important;
      text-decoration: none;
      word-wrap: break-word;
      font-size: 18px;
    }

    ul li {
      font-family: 'PT Serif' !important;
      color: $primary-text-color !important;
      font-size: 18px !important;
      line-height: 32px !important;
    }

    p {
      font-family: 'PT Serif';
      font-size: 18px;
      line-height: 32px;
      color: $route-text-color;
    }

    .quote {
      font-size: 24px;
      font-weight: 700;
      border-left: 11px solid $quote-color;
      margin-left: -91px;
      padding-left: 80px;
      padding-top: 0;
      margin-top: 50px;
      width: 90%;
    }

    .text-subtitle {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      color: $primary-color;
      padding-top: 50px !important;
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }

    .text-image {
      img {
        margin-top: 30px;
        width: 100%;
      }
    }

    .separator {
      width: 190px;
      height: 6px;
      display: flex;
      justify-content: space-between;
      margin: 56px auto 0 auto;

      .box {
        height: 100%;
        width: 6px;
        background-color: $quote-color;
      }

      .line {
        height: 100%;
        width: 160px;
        background-color: $quote-color;
      }
    }
  }
  .text-dark{
    p, h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul, li,
    ol, li {
    color: $dark-primary-text-color;
    }
  }
}

.tag-links{
  .tag-icon{
    margin-bottom: 15px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .create-edit-article-wrapper {
    width: 100%;
    align-items: flex-start;
    .left {

      .left-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: sticky;
        top: 5px;
        padding: 0 auto;
        margin: 0 10px 0 10px;
      }
    }

    .right {
      width: 80%;
      margin: 100px 20px 0 20px;
    }

    .vertical-divider {
      margin: 70px 0 0 0;
      padding: 0.1px;
    }

    .mobile-footer {
      margin-top: 50px;
    }

    .left-text {
      margin: 10px 0;
    }
    .NFT-left-text-container{
      width: 100%;
      
    }
  }
    .title-post-info-wrapper {
      padding: 0 0 0 0px;
    }
  .header-content-wrapper {
    padding: 0;
    .header-image {
     margin-left: 0;
     height: 200px;
    }
  }

  .tag-links{
    .tag-icon{
      margin-left: 0;
    }
  }
  
  .modal-NFT-logo{
    margin-top: 20px;
  }
  .premium-modal-content
  {
  padding: 10px 
  ;
  
  flex-direction: column-reverse !important;
  align-items: center !important;
  }
  .modal-content-block
  {
    padding: 0px !important;
  }
  
}
// .public-DraftStyleDefault-ltr {
//   background-color: royalblue;
//   content: 'bf';
// }
// .public-DraftStyleDefault-ltr[contenteditable]:empty::before {
//   content: 'Body...';
// }



