@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../../shared/styles/Colors';

.edit-article-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    row-gap: 20px;

    .edit-article-members-only{
        width: 100%;

        .members-only-icon{
            margin-bottom: 80px;
            padding: 0px 0px 0px 0px;
            }
    }
    .edit-article-content-wrapper {
        display: flex;
        max-width: 1400px;
        width: 75vw;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 120px;

        .edit-article-left {
            display: flex;
            flex-direction: column;
            align-items: end;
            row-gap: 100px;
            width: 23%;
            padding-right: 10px;

            .edit-article-left-date {
                transform-origin: center;
                transform: rotate(-90deg) translateX(-15px) translateY(19px);
                color: #B2B2B2;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .edit-article-left-manage-wrapper {
                display: flex;
                flex-direction: column;
                align-items: end;
                width: 100%;
                row-gap: 24px;
                position: sticky;
                top: 10px;

                .edit-article-horizontal-divider {
                    width: 100%;
                    background-color: #d9d9d9;
                    height: 1px;
                }

                .edit-article-left-info-list-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    row-gap: 16px;

                    .edit-article-left-info-list-item {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        color: #999;
                        font-family: Roboto;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 18px;
                    }
                }

                .edit-article-left-manage-location-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 32px;
                    padding: 13px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border-radius: 4px;
                    background: rgba(242, 242, 242, 0.60);

                    .edit-article-left-location-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        row-gap: 4px;
                        width: 100%;

                        .edit-article-left-location-title {
                            color: #999;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 18px;
                        }

                        .regular-user-location {
                            display: flex;
                            align-items: end;
                            column-gap: 4px;

                            .regular-user-location-handle {
                                color: #19192E;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }

                            .regular-user-location-icon {
                                width: 24px;
                                height: 24px;
                                color: #000000;
                            }
                        }
                    }

                    .edit-article-left-manage-wrapper {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        align-items: center;
                        row-gap: 8px;

                        .edit-article-left-manage-title {
                            color: #999;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 18px;
                            align-self: start;
                        }

                        .edit-article-left-manage-content-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            width: 100%;
                            row-gap: 20px;
                            .text {
                                color: #7c7979;
                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .text-dark-mode{
                                color: #c2b5b5;
                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .external-url-text {
                                color: #303E84;
                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                                cursor: pointer;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            .external-url-text-dark-mode{
                                color: #f2f2f2;
                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                                cursor: pointer;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            .text-darker{
                                color: #3b3939;
                            }
                            .text-lighter{
                                color: #fff;
                            }
                            .horizontal-divider {
                                width: 100%;
                                background-color: #d9d9d9;
                                height: 1px;
                            }
                        }
                        .schedule-publish-container{
                            background: white;
                            width: 100%;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }

        .vertical-divider {
            width: 1px;
            min-height: 100vh;
            background-color: $vertical-divider;
        }

        .edit-article-left-text {
            font-family: Roboto;
            font-weight: 500;
            font-size: 12px;
            color: #999;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .edit-article-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            width: 77%;

            .edit-article-right-content {
                display: flex;
                align-items: start;
                flex-direction: column;
                margin-left: 40px;
                width: calc(100% - 40px);

                .input-wrapper {
                    width: 100%;
                }

                .quill {
                    margin-top: 20px;
                }

                

                .edit-article-right-text {
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 12px;
                    color: #999;
                }

                .edit-article-uploaded-pic-wrapper {
                    width: 100%;
                    overflow: hidden;

                    .uploaded-pic {
                        width: 100%;
                        object-fit: contain;
                    }
                }

                .edit-article-upload-picture-button {
                    display: flex;
                    width: calc(100% + 80px);
                    justify-content: center;
                    background: #cafff2;
                    height: 40px;
                    margin-left: -40px;

                    align-items: center;
                    cursor: pointer;

                    .button-icon {
                        width: 35px;
                        height: 23px;
                    }
                }
            }
        }
    }
    .footer-wrapper{
        align-self: start;
        margin-top: 100px;
        margin-bottom: 10px;
    }
}

.buttons-texts-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    width: 100%;

    .edit-article-date {
        transform-origin: center;
        transform: rotate(-90deg);
        color: #999;
        margin-top: 28px;
        margin-right: -22px;
        margin-bottom: 120px;
    }

    .edit-article-menus {
        display: flex;
        column-gap: 15px;
        align-items: center;

    }

    .edit-article-horizontal-divider {
        width: 100%;
        background-color: #d9d9d9;
        height: 1px;
    }

    .edit-article-publication-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -10px;
    }

    .edit-article-premium-article-owners {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;

    }
}

.NFT-field-wrapper {
    .NFT-left-text-container {
        .NFT-left-text {
            font-family: Roboto;
            font-weight: 500;
            font-size: 12px;
            color: #999;
            margin: 20px 0 20px 0;
            text-align: left;
        }
    }
}

@media only screen and (max-width: 950px) {
    .edit-article-wrapper {

        
        .edit-article-content-wrapper {
            width: 100%;
            row-gap: 20px;
            flex-direction: column-reverse;
            align-items: center;
            

            .edit-article-left {
                width: calc(100% - 40px);
                .edit-article-left-date{
                    display: none;
                }
                .edit-article-left-manage-wrapper{
                    .edit-article-horizontal-divider{
                        display: none;
                    }
                }
            }
            .vertical-divider{
                display: none;
            }

            .edit-article-right {
                width: 100%;

                .edit-article-right-content {
                    margin-left: 0;
                    
                }
            }
        }
        .footer-wrapper{
            align-self: start;
            margin-left: 20px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
    }
}