@import '../../shared/styles/Colors';

.notifications-sidebar {
  background-color: $primary-background-color;
  padding: 24px 24px;
  position: fixed;
  top: 64px;
  right: 0;

  height: calc(100vh - 64px);
  overflow-y: auto;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

  &.open {
    transform: translateX(0);
  }

  .exit-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  .notification-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
  }

  h2 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;
    display: contents;
  }

  ul {
    margin-top: 16px;
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      .notification-icon {
        margin-right: 10px;
      }

      .notification-details {
        flex-grow: 1;
        margin: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        .notification-action {
          color: #666666;
          margin-right: 4px;
          font-family: Roboto;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;

          &.read {
            //color: #b2b2b2;
            opacity: 0.7;
          }
          .link {
            color: #303e84;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .bold {
            font-weight: 700;
          }
        }
        .notification-action-dark {
          color: $lighter-text-color;
          margin-right: 4px;
          font-family: Roboto;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;

          &.read {
            //color: #b2b2b2;
            opacity: 0.7;
          }
          .link {
            color: $dark-primary-text-color;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .bold {
            font-weight: 700;
          }
        }

        .notification-article-title {
          font-weight: bold;
        }

        .notification-timestamp {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: right;
          color: #999999;
        }

        .notification-top-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
        }
      }
    }
  }
}
.notification {
  position: relative;
  border-radius: 3px;
  background-color: $primary-background-color;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;

  .subscription-notification-text {
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    .notification-details {
      .notification-action {
        opacity: 1;
        &.read {
          box-shadow: unset;
          opacity: 1;
        }
      }
      .notification-action-dark {
        opacity: 1;
        &.read {
          box-shadow: unset;
          opacity: 1;
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, #25f68d 0%, #1bc0f2 100%);
    z-index: -1;
    opacity: 0;
    padding: 1px;
    margin: -1px;
  }

  &:hover,
  &.selected {
    &::before {
      opacity: 1;
    }
  }

  &.dark {
    background-color: $dark-primary-background-color;
    color: $dark-primary-text-color;
    a {
      color: $dark-primary-text-color;
      &:hover {
        text-decoration: underline;
      }
    }
    border: none;
  }
}

.header-right {
  display: flex;
  align-items: center;

  .notification-bell {
    position: relative;
    border-radius: 5px;
    padding: 8px;

    &.selected {
      background: #43dfba33;
    }
  }

  .settings-icon {
    position: relative;
    padding: 8px;
    border-radius: 5px;

    &.selected {
      background: #43dfba33;
    }
  }

  img {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .notifications-sidebar {
    margin-top: 50px;
    width: 100%;
    top: 0;
    border-radius: 0;
  }
}

@media (min-width: 769px) {
  .notifications-sidebar {
    width: 340px;
  }
}

.notification-settings {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.dark {
    background: $dark-primary-background-color;
    color: $dark-primary-text-color;
  }

  .notification-settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      color: #333;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .notification-settings-icons {
      img {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .notification-settings-content {
    p {
      color: #666;
      margin-bottom: 20px;
      margin-top: 24px;

      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    .toggle-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      border: none;

      label {
        color: $primary-text-color;
        flex: 1;
        border: none;

        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        &.dark {
          color: $dark-primary-text-color;
        }
      }
    }
  }

  .save-notification-settings {
    background-color: $dark-primary-background-color;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
    margin-top: 32px;

    &:hover {
      background-color: darken($dark-primary-background-color, 10%);
    }

    &.dark {
      background-color: #43dfba;
      color: $dark-primary-text-color;

      &:hover {
        background-color: darken(#43dfba, 10%);
      }
    }
  }
}

.notification-toast {
  position: relative;
  border-radius: 3px;
  background-color: var(--primary-background-color, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  display: flex;
  width: 320px;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 32px;

  &.dark {
    background-color: $dark-primary-background-color;
    color: $dark-primary-text-color;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);

    a {
      color: $dark-primary-text-color;
      &:hover {
        text-decoration: underline;
      }
    }
    border: none;
  }

  @media (max-width: 768px) {
    width: 99%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, #25f68d 0%, #1bc0f2 100%);
    z-index: -1;
    opacity: 0;
    padding: 1px;
    margin: -1px;
  }

  &:hover,
  &.selected {
    &::before {
      opacity: 1;
    }
  }

  .notification-action {
    color: #666666;
    margin-right: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    &.read {
      //color: #b2b2b2;
      opacity: 0.7;
    }
    .link {
      color: #303e84;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .bold {
      font-weight: 700;
    }
  }
  .notification-action-dark {
    color: $lighter-text-color;
    margin-right: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    &.read {
      //color: #b2b2b2;
      opacity: 0.7;
    }
    .link {
      color: $dark-primary-text-color;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .bold {
      font-weight: 700;
    }
  }

  .notification-article-title {
    font-weight: bold;
  }

  .notification-timestamp {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
    color: #999999;
  }

  .notification-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
}
.read {
  box-shadow: none;
  &:hover {
    box-shadow: unset;
    opacity: 1;
  }
}
