// original source: https://github.com/peterKaleta/react-token-autocomplete
// converted to a single sass file

@keyframes rotate-key-frame {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tags {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13pt;
  position: relative;

  ::placeholder {
    font-style: italic;
    font-size: 9pt;
    letter-spacing: 0.04rem;
  }

  .tag-icon {
    position: relative;
    top: 3px;
    margin-right: 10px;
  }

  .input-wrapper {
    border-radius: 2px;
    padding: 1px 4px;
    display: flex;
    font-weight: 400;
    overflow: hidden;
    flex-wrap: wrap;
    min-height: 26px;

    input {
      vertical-align: middle;
      border: none;
      cursor: default;
      width: 142px;
      display: inline-block;
      font-size: 13pt;
      min-height: 25px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      outline: none;
      border-bottom: solid 1px $title-divider-color;
      margin-left: 10px;
      align-self: end;

      &:focus {
        outline: 0;
      }
    }

    .processing {
      width: 18px;
      height: 18px;
      margin-top: 3px;
      position: relative;
      animation: rotate-key-frame 0.75s infinite linear;
      border-right: 2px solid $border-tags1;
      border-left: 2px solid $border-tags1;
      border-bottom: 2px solid $border-tags1;
      border-top: 2px solid $border-tags2;
      border-radius: 100%;
    }

    .dropdown-indicator {
      position: absolute;
      height: 0;
      width: 0;
      border-top: 7px solid $darker-border-color;
      border-bottom: 7px solid transparent;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      top: 12px;
      right: 10px;
    }

    .fake-placeholder {
      font-size: 13pt;
      padding-left: 6px;
      padding-top: 5px;
      color: $tag-placeholder-color;
      cursor: default;
    }
  }
}

.tags-token {
  border-radius: 5px;
  border: 1px solid #E5E5E5;;
  padding: 8px 16px;
  margin: 10px 0 0 10px;
  overflow: hidden;
  position: relative;
  width: auto;
  background-color: #E5E5E5;
  cursor: pointer;

  &.full-width {
    flex-grow: 1;
    border: none;
  }

  .value {
    padding: 2px 5px;
    font-size: 11pt;
    vertical-align: middle;
    font-family: Roboto, sans-serif;
    color: $subtitle-text;
  }

  .remove-btn {
    position: absolute;
    left: 8px;
    top: 7px;
    cursor: pointer;
    display: none;
  }

  &:hover .remove-btn {
    display: block;
  }
}

.tags-options {
  width: 100%;
  margin-top: 2px;
  max-height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
  //background: $primary-background-color;
  box-shadow: 0px 2px 8px $tag-options-box-shadow;
  border-radius: 2px;
  padding: 20px;

  .empty-info {
    padding: 10px;
  }
}

.tags-token-autocomplete {
  padding: 5px;
  cursor: hand;

  &.selected {
    background: $light-border-color;
  }
}

.has-error {
  border-bottom: solid 1px $error-color !important;
}
