@import "../../shared/styles/Colors";

.subscription-card-wrapper {
    padding: 1px; 
    background: linear-gradient(to top, #1BC0F2, #25F68D);
    border-radius: 8px;  
    overflow: hidden; 
    display: inline-block; 
    margin: 0px 25px;
   
}

.modal-top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 60px;
  }
.subscription-header{
    color:currentColor;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    @media (max-width: 1089px) {
        max-width: 99%;
        margin: 30px 10px 0px 10px;

    }
    
}

.profile-image{
    height: 62px;
    width: 62px;
    border-radius: 100px;
    margin-top: 27px;
    margin-bottom: 13px;
}

.subscribee-info{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.subscription-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1089px) {
        max-width: 99%;
    }

}

.subscription-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: show;
}

@media (max-width: 1080px) {
    .subscription-options {
        display: inline;
        flex-direction: row; 
        overflow-x: auto;
        white-space: nowrap; 
        -webkit-overflow-scrolling: touch;
        width:90%;
    }

    .option-wrapper {
        display: inline-block; 
        white-space: normal;
    }
}

.subscription-card {
    background: #fff; 
    border-radius: 8px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 20px;
    width: 100%; 
    position: relative; 
    overflow: hidden;  
    text-align: center;
}

.option-wrapper {
    background: linear-gradient(to bottom, #25F68D, #1BC0F2);
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    margin: 0px 8px;
}

.option-wrapper.selected {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.option {
    background: white;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border:none;

    &.dark{
        background: $dark-primary-background-color;
        color: $dark-primary-text-color;
    
    }
}

.option-title{
}

.option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 16px;
    gap: 8px;

}

.option-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    gap: 8px;
}

.subscription-radio-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    input{
        cursor: pointer;
    }
}
.subscription-conversions{
    background: #F2F2F2;
    color: #666666;
    padding: 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    border:none;

    &.dark{
        background: lighten($dark-primary-background-color, 5%);
        
    }
    
    p{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
}

.star-icon {
    width: 24px;
height: 24px;
}

.subscription-exit-icon{
    margin: 24px;
    width: 32px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
}

.nuance-logo-subscription{
    margin: 15px 34px;
    width: 64px;
    height: 64px;
}

.subscription-publication-icon{
    position: absolute;
    right: 0;  
    bottom: 0; 
    height: 16px;
    width: 16px;
    right: 43px;
    bottom: 50px;

    @media (max-width: 1080px) {
       
    }
}

.handle{
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-bottom: 8px;
}

.subscription-info{
    width: 402px;
    max-width: 99%;
    
    text-align: center;
    color: currentColor;
    margin-bottom: 21px;
}

.option-label{
    color: currentColor;
    margin-bottom: 32px;
}

.subscription-terms{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;

    input{
        cursor: pointer;
    }
    .terms{
        font-size: 14px;
        margin-left: 8px;


    }
}

.subscription-modal-footer{
    margin-top: 8px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
    gap: 32px;
}
.subscription-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

//success
.subscription-success-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0px;
}

.subscription-success-info{
    line-height:30px;
    max-width: 99%;
}

.success-icon{
    margin-left: 25px;
    margin-top: 32px;
}

.no-subscription-info{
    margin: 20px 0px;
}