.warning-message {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }
  
  .warning-link {
    color: #721c24;
    text-decoration: underline;
  }