.unpublish-menu {
  .sidebar-button {
    display: flex;
    margin-left: -10px;
  }
  .sidebar-content-unpublished {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 230px;
    height: 78px;
    transition: 0.5s;

    ul {
      width: 230px;
      margin-left: 50px;
      li {
        .profile {
          display: flex;
          align-items: center;
          font-weight: bold;
          img {
            height: 24px;
            width: 24px;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
