.sold-bar {
    display: flex;

    .sold-percentage-remaining {
        background-color: #43DFBA;
        height: 8px;
    }

    .sold-percentage-sold {
        background-color: #151451;
        height: 8px;
    }
}

.edit-article-premium-article-owners {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
}

.premium-article-owners-sold-text {
    color: #999;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.premium-article-owners-nft-icon{
    width: 16px;
    height: 16px;
}