.comment-card-wrapper{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,.4);
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
    transition: all .3s ease;
    font-size: 14px;
    height: fit-content;
    cursor: pointer;
    &:hover{
        border-color: #2db671;
        transform: translateY(-3px)
    }
    .content{

    }
    .handle{
        font-weight: bolder;
        font-size: 12px;
    }
    .violates-the-rules{
        font-size: 10px;
        font-weight: lighter;
    }
}