.radio-buttons-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: start;
    width: 100%;

    .radio-button-item {
        cursor: pointer;
        display: flex;
        align-items: start;
        column-gap: 8px;

        .radio-button-icon-selected {
            color: #435AAC;
            min-width: 24px;
            max-width: 24px;
        }

        .radio-button-icon-not-selected {
            color: #B2B2B2;
            min-width: 24px;
            max-width: 24px;
        }

        .radio-button-text {
            
            color: #7c7979;
            /* NUA 2/Roboto/14/Medium */
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            margin-top: -4px;
            .darker{
                color: #494848;
            }
        }
        .radio-button-text-dark-mode {
            color: #c1baba;
            /* NUA 2/Roboto/14/Medium */
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            margin-top: -4px;
            .lighter{
                color: #ffffff;
            }
        }
    }
}