@import '../../shared/styles/Colors';

.user-profile-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

    .profile-author-wrapper {
        width: 100%;
        max-width: 1440px;
        margin-top: 80px;


        //margin-top: 150px;
        .horizontal-divider {
            height: 1px;
            background-color: $light-border-color;
            margin: 15px 0;
            width: 100%;
        }

        min-height: 100vh;
        display: flex;

        .subscribe-and-follow-buttons{
            display: flex;
            margin-bottom: 64px;

        }
        .followAuthor{
            margin: 8px;
        }
        //justify-content: center;
        .button1 {
            height: 32px;
            border: 1px solid $medium-border-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0 4px 4px rgba(black, 0.25);
            padding: 0 20px;
            width: fit-content;
            cursor: pointer;

            p {
                margin: 0;
                color: $primary-color;
                font-family: 'Roboto';
                font-size: 12px;
                font-weight: bold;
            }
        }

        .profile-sidebar {
            padding: 0 20px 0px 4%;
            padding-right: 0;
            padding-left: 0;
            border-right: 1px solid $light-border-color;
            margin: 0 6% 0 0;
            background-image: url('../../assets/assets/images/backgrounds/mask-group.svg');
            background-size: auto 460px;
            background-position: 100% 70px;
            background-repeat: no-repeat;
            width: 25%;
            max-width: 270px;
        }

        .container {
            width: 75%;

            .sidebar {
                box-sizing: border-box;
                border-right: 1px solid $light-border-color;
                display: flex;
                height: 100%;
                flex-direction: column;
                padding: 0 10% 0 40%;

                .route {
                    color: $route-text-color;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 24px;
                    margin: 10px 0;
                    padding: 0 15px;
                    margin-left: -15px;

                    &.active {
                        border-left: 2px solid $accent-color;
                        color: $accent-color;
                    }
                }

                .hr {
                    border-bottom: 1px solid $light-border-color;
                    margin: 30px 0;
                }
            }

            .author-wrapper {
                margin-top: 0;

                width: 90%;
                background-image: none !important;
                min-height: 100vh;
                display: flex;
                flex-direction: column;

                .left-profile-menu {
                    background-color: red !important;
                }

                .title {
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 24px;
                    color: $darker-border-color;
                }

                .pub-art {
                    margin-bottom: -30px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 24px;
                    color: $darker-border-color;
                }

                .titles {
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 24px;
                    color: $darker-border-color;
                    margin-bottom: 50px;
                    margin-top: 0;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 494px;
                    margin: auto;
                    row-gap: 12px;
                    text-align: center;
                    font-family: Roboto;

                    .profile-picture {
                        margin: 0 !important;
                    }

                    .name {
                        display: flex;
                        margin: 0;
                        color: $darker-border-color;
                        text-align: center;
                        color: #999;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 34px;

                        .verified-badge {
                            margin-left: 5px;
                        }
                    }

                    .username {
                        margin: 0;
                        color: #00113E;

                        text-align: center;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }

                    .social-channels {
                        display: flex;
                        align-items: center;
                        column-gap: 12px;

                        .social-channel-icon {
                            cursor: pointer;
                            width: 28px;
                            height: 28px;
                            padding: 4px;
                            border-radius: 2px;

                            &:hover {
                                background-color: rgba(27, 193, 240, 0.10);
                            }
                        }
                    }

                    .description {
                        color: #19192E;

                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }

                .statistic-wrapper {
                    display: flex;
                    width: 100%;
            
                    .statistic-horizontal-divider {
                      display: none;
                      width: 100%;
                      height: 0;
                      border-bottom: 1px dashed $medium-border-color;
                    }
            
                    .statistic {
                      display: flex;
                      height: 144px;
                      width: 100%;
            
                      &:last-child {
                        .stat {
                          &:last-child {
                            border-right: 1px dashed $medium-border-color;
                          }
                        }
                      }
            
                      .stat {
                        border-left: 1px dashed $medium-border-color;
                        height: 100%;
                        box-sizing: border-box;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
            
                        .count {
                          font-family: 'Roboto';
                          font-size: 32px;
                          font-weight: 900;
                          background: -webkit-linear-gradient($highlight-one, $highlight-two);
                          background-clip: text;
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                        }
            
                        .title {
                          color: $darker-border-color;
                          font-size: 16px;
                          line-height: 24px;
                          font-weight: 300;
                          font-family: 'Roboto';
                        }
                      }
                    }
                                  }

                .published-articles {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    row-gap: 48px;
                    margin-top: 20px;

                    .published-articles-title {
                        color: #999;
                        font-family: Roboto;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 18px;
                        /* 150% */
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 768px) {
    .user-profile-wrapper {
        .profile-author-wrapper {
            //margin-top: 10px;
            //margin:10px;
            //justify-content: center;

            .profile-sidebar {
                background-image: none;
                margin: 0px;
                // margin-right: 0;
                padding: 0;
                width: unset;


                .wrapper {
                    background-image: none !important;
                }
            }

            .container {
                grid-template-columns: 10% 90%;
                margin: 0;
                margin-top: 5vh;
                max-width: unset;
                padding: 0;
                width: 95%;

                .content {
                    .description {
                        margin: 0 !important;
                    }

                    .name {
                        font-size: 16px !important;

                        .verified-badge {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .author-wrapper {
                    padding: 0 5%;
                    width: 100%;
                    background-image: none !important;

                    .left-profile-menu {
                        background-color: red !important;
                    }

                    .titles {
                        padding: 20px 0;
                        margin-top: 10px;
                    }

                    .pub-art {
                        margin-bottom: 30px;
                    }

                    .statistic-wrapper {
                        flex-direction: column;
                        row-gap: 8px;
              
                        .statistic-horizontal-divider {
                          display: flex;
                        }
              
                        .statistic {
                          &:last-child{
                            .stat{
                              &:last-child{
                                border-right: none;
                              }
                            }
                          }
                          .stat {
                            &:last-child {
                              border-right: none;
                            }
                            &:first-child{
                              border-left: none;
                            }
                          }
                        }
                      }

                    .published-articles {

                        .article-list-items-wrapper {
                            width: 100%;
                        }


                    }
                }
            }
        }
    }
}