@import '../../shared/styles//Colors';

.article-grid-horizontal {
  margin-right: 50px;
  margin-top: -60px;

  .card-wrapper-horizontal {
    display: flex;
    flex-direction: row;
    margin: 80px 0 40px 0;

    .main-pic-horizontal {
      width: 28%;
      height: 100%;
      object-fit: cover;
      transition: ease-in 100ms;
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
        transition: ease-in 100ms;
        box-shadow: 0px 5px 10px 5px $box-shadow;
      }
    }
    .horizontal {
      display: flex;
      flex-direction: column;
      margin-left: 45px;
      width: 60%;
      .publisher {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .card-creator-horizontal {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-weight: 700;
          font-size: 12px;
          width: 100%;
          margin-bottom: 8px;
          .left-card-icons {
            display: flex;
            align-items: center;
            .profile-pic {
              width: 24px;
              height: 24px;
              margin: 0 10px 0 0;
              border-radius: 100%;
            }
            .verified-badge {
              margin-left: 5px;
            }
          }
          .published-date-horizontal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $medium-border-color;
            font-weight: 700;
            font-size: 12px;
            .divider {
              height: 12px;
              border-left: 2px solid $medium-border-color;
              margin-right: 0.4rem;
              margin-left: 0.4rem;
              margin-bottom: 0.4rem;
            }
            
            p {
              color: $medium-border-color;
              font-size: 12px;
              margin-bottom: 0.4rem;
            }
            .publication-name-icon-flex{
              .publication-name-horizontal{
                transition: 000.08s ease-in;
              }
              .publication-name-horizontal:hover{
                cursor: pointer;
                color: #838383;;
              }
            }
          }
          p {
            font-size: 12px;
          }
        }
      }
      .article-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        h2 {
          font-size: 26px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

.article-grid-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  max-height: 400px;
  justify-content: center;
  row-gap: 10px;
}


.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.divider {
  height: 12px;
  border-left: 2px solid $darker-border-color;
  margin-right: 10px;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .article-grid-horizontal {
    object-fit: contain;
    justify-content: center;
    width: 105%;
    margin: -20px -42px 50px -42px;

    .card-wrapper-horizontal {
      align-items: flex-start;
      font-size: 0.75em;
      margin: 22px 0 0 0;
      .main-pic-horizontal {
        width: 31%;
        height: 100%;
        min-width: 105px;
        &:hover {
          transform: none;
          box-shadow: none;
        }
      }

      .horizontal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 0 10px;
        .publisher {
          .card-creator-horizontal {
            align-items: start;
            .left-card-icons {
              .profile-pic {
                display: none;
              }
              .pencil-icon {
                display: block;
              }
              a {
                font-size: 10px;
              }
            }
            .published-date-horizontal{
              align-items: start;
              .divider {
                height: 10px;
                margin-right: 0.2rem;
                margin-left: 0.2rem;
                margin-bottom: 0.2rem;
              }
              p {
                color: $medium-border-color;
                font-size: 12px;
                margin-top: -0.3rem;
              }
              .publication-name-horizontal{
                width: 0;
                visibility: hidden;
              }

            }
            p {
              font-size: 12px;
              margin: 5px;
            }
          }
        }
        .article-text {
          margin-top: 6%;
          position: absolute;
          width: 50vw;
          h2 {
            font-size: 18px;
          }
          p {
            display: none;
          }
        }
      }
    }
  }

  .background-image {
    display: none;
  }
}
