#search-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 5px;
  width: fit-content;
  margin: 20px auto 50px auto;

  input {
    width: 376px;
    padding: 0 0px 8px 23px;
    outline: none;
    border: none;

    background-image: url('../../assets/assets/images/icons/search.svg');
    background-repeat: no-repeat;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid $text-editor-border;
  }
  input[type='text'] {
    margin-left: 20px;
  }

  img {
    margin-right: -25px;
  }
  input:hover {
    border-bottom: 1px solid $highlight-one;
  }
  input:focus {
    border-bottom: 1px solid $highlight-one;
  }
}

@media only screen and (max-width: 768px) {
  #search-container {
    margin: 50px auto;
    input {
      width: 58vw;
    }
  }
}
