.publication-profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 494px;
  row-gap: 24px;
  margin: auto;

  .publication-profile-avatar-title-handle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;

    .publication-avatar {
      position: relative;
      margin-bottom: 0;

      .publication-logo {
        height: 105px;
        width: 105px;
        border-radius: 100%;
      }

      .publication-icon {
        height: 32px;
        width: 32px;
        margin-left: -32px;
        margin-top: 85px;
        position: absolute;
      }
    }

    .publication-title {
      color: #999;
      text-align: right;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

    }

    .handle {
      color: #151451;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }



  .social-channels {
    display: flex;
    align-items: center;
    column-gap: 12px;

    .social-channel-icon {
      cursor: pointer;
      width: 28px;
      height: 28px;
      padding: 4px;
      border-radius: 2px;

      &:hover {
        background-color: rgba(27, 193, 240, 0.10);
      }
    }
  }

  .publication-description {
    color: #151451;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 200px;
  }

  .publication-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #666;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    .article-writer-flex {
      display: flex;
      flex-direction: row;

      .small-divider {
        width: 2px;
        height: 14px;
        margin-right: 5px;
        margin-left: 5px;
        align-self: center;
        background-color: #8c8c8c;
      }
    }


  }
}