.text-divider-wrapper {
  display: flex;
  justify-content: center;

  .dot {
    height: 6px;
    width: 6px;
    background-color: $primary-text-color;
  }
  .line {
    height: 6px;
    width: 20%;
    background-color: $primary-text-color;
    margin: 0 10px;
  }
}
