/* Reset font sizes within the Quill editor */
.ql-container.ql-snow {

}

/* Custom toolbar styles */
.ql-toolbar {

}

/* Placeholder styling */
.ql-editor.ql-blank::before {
  font-family: 'Georgia';
  font-style: italic;
  color: #b2b2b2 !important; /* Replacing $medium-border-color */
  font-size: 18px;
  line-height: 32px;
  margin-left: -15px;
}

