@import '../../shared/styles/Colors';

.profile-wrapper {
  min-height: 100vh;

  .button1 {
    height: 32px;
    border: 1px solid $medium-border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(black, 0.25);
    padding: 0 20px;
    width: fit-content;
    cursor: pointer;

    p {
      margin: 0;
      color: $primary-color;
      font-family: 'Roboto';
      font-size: 12px;
      font-weight: bold;
    }
  }

  .followers-ul {
    display: block;
  }

  .list-container {
    display: flex;
    flex-direction: column;
  }

  .follower-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .followers-wrapper {
    padding: 0 5% 0 5%;
    width: 100%;
  }

  .followers-list-image {
    width: 78px;
    height: 78px;
    border-radius: 50%;
  }

  .activities{
    border-left: 1px solid $light-border-color;
  }
  .publications{
  border-left: 1px solid $light-border-color;
  }

  .activity-dropdown {
  cursor: pointer;
  }

  .container {
    display: grid;
    align-items: baseline;
    justify-content: center;
    grid-template-columns: 18% 82%;
    margin-top: 114px;
    min-height: calc(80vh - 64px);
    box-sizing: border-box;
    width: 100%;
    max-width: 1126px;

    .sidebar {
      box-sizing: border-box;
      border-right: 1px solid $light-border-color;
      display: flex;
      height: 100%;
      flex-direction: column;
      margin-left: -8%;
      height: 100vh;
      position: sticky;
      top: 10px;

      

      .route {
        color: $primary-text-color;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        margin: 8px 0;
        padding: 0px 15px;
        margin-left: -15px; 
        display: flex;
        border-left: 2px solid transparent; // Transparent border for inactive states


        &.active {
          color: $accent-color;
          border-left-color: $accent-color; // Change only the color, not the border size
          border-right-style: none;
          
        }
      }

     

      .sub-route {
       
        margin-left: 4px;
        margin-top: 10px;

        .route { // Targeting the .route inside .sub-route
          margin-left: -1px; 
          display: flex;
          margin: 0px;
          margin: 16px 0px;
          width: 180px;
          font-size: 14px;
          border-left: 2px solid transparent; // Transparent border for inactive states

         

          
    
          &.sub-route-active {
            border-left: 2px solid $accent-color; 
            padding: 0px 14px; 
            margin-left: 0px;
            
          }
        }
      

      }

      .arrow-button {
        transition: transform 0.3s;
        
        &.expanded {
          transform: rotate(180deg);
        }
      }

      .sub-route-active-flex {
        display: flex;
        align-items: center;

        .dot {
          background: $accent-color;
          width: 5px;
          height: 5px;
          margin-bottom: 2px;
          margin-right: 10px;
        }
      }

      .hr {
        border-bottom: 1px solid $light-border-color;
        margin: 30px 0;
      }
    }

    .sidebar-dropdown {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 164px;
    }

    .wrapper {
      box-sizing: border-box;
      padding: 0 5% 0 5%;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: $darker-border-color;
      }

      .wallet-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 65%;
        color: #19192E;
      }

      .statistic-text {
        margin-top: 25px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: $darker-border-color;
        margin-bottom: 0;
      }


      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 494px;
        margin: auto;
        row-gap: 12px;
        text-align: center;
        font-family: Roboto;

        .image {
          height: 105px;
          width: 105px;
          border-radius: 100%;
        }

        .profile-picture {
          margin: 0 !important;
        }

        .name {
          margin: 0;
          color: $darker-border-color;
          text-align: center;
          color: #999;
          font-size: 30px;
          font-style: normal;
          font-weight: 300;
          line-height: 34px;
        }

        .username {
          margin: 0;
          color: #00113E;

          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        .social-channels {
          display: flex;
          align-items: center;
          column-gap: 12px;

          .social-channel-icon {
            cursor: pointer;
            width: 28px;
            height: 28px;
            padding: 4px;
            border-radius: 2px;

            &:hover {
              background-color: rgba(27, 193, 240, 0.10);
            }
          }
        }

        .description {
          color: #19192E;

          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }

      .horizontal-dashed-divider {
        width: 100%;
        border-bottom: 1px dashed #B2B2B2;
      }

      .statistic-wrapper {
        display: flex;
        width: 100%;

        .statistic-horizontal-divider {
          display: none;
          width: 100%;
          height: 0;
          border-bottom: 1px dashed $medium-border-color;
        }

        .statistic {
          display: flex;
          height: 144px;
          width: 100%;

          &:last-child {
            .stat {
              &:last-child {
                border-right: 1px dashed $medium-border-color;
              }
            }
          }

          .stat {
            border-left: 1px dashed $medium-border-color;
            height: 100%;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .count {
              font-family: 'Roboto';
              font-size: 32px;
              font-weight: 900;
              background: -webkit-linear-gradient($highlight-one, $highlight-two);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .title {
              color: $darker-border-color;
              font-size: 16px;
              line-height: 24px;
              font-weight: 300;
              font-family: 'Roboto';
            }

            .nua-equivalance {
              border-radius: 4px;
              background: #F2F2F2;
              display: flex;
              align-items: center;
              padding: 5px;
              color: #999999;
              justify-content: space-between;
              column-gap: 5px;
              font-size: 12px;

              .eq {}

              .value {}
            }
          }
        }
      }


      .deposit-withdraw-buttons-wrapper {
        width: 100%;
        background: transparent;
        border-bottom: 1px dashed #B2B2B2;
        border-top: 1px dashed #B2B2B2;
        height: 86px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
      }

      .address-flex {
        display: flex;
        width: 65%;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 10px;

        .address {
          display: flex;
          flex-direction: column;
          width: 45%;

          .address-header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #999999;
            margin-bottom: 5px;
          }

          .address-container {
            overflow: hidden;
            white-space: nowrap;
            border: 1px solid #B2B2B2;
            border-radius: 5px;
            display: flex;
            width: 100%;

            .copy-icon {
              width: 28px;
            }

            .copy-icon:hover {
              cursor: pointer;
            }
          }
        }
      }

      .transfer-modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(67, 223, 186, 0.5);
        backdrop-filter: blur(4px);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;

        .transfer-modal-content {
          font-family: Georgia, "Times New Roman", Times, serif;
          font-weight: 400;
          font-size: 18px;
          color: #00113e;
          background-color: white;
          z-index: 101;
          display: flex;
          padding: 20px;
          flex-direction: column;
          align-items: center;
          max-width: 35%;
          max-height: 90%;

          .nuance-logo {
            height: 110px;
          }

          .warning-text {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;

            color: #AE0000;
          }

          .address-header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            align-self: flex-start;

            color: #19192E;
          }

          .input-wrapper {
            width: 100%;
          }

          .buttons-flex {
            display: flex;
            width: 100%;
            justify-content: center;
            bottom: 10px;
          }


        }
      }

      .token-activities {

        overflow-x: auto;
        margin-bottom: 50px;

        .token-activities-header {
          display: flex;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 42px;
          color: #999999;
          min-width: 800px;



          .amount {
            width: 10.9%;

          }

          .date {
            width: 16.8%;
          }

          .from {
            width: 32.9%;
            display: flex;
            align-items: center;

            .writer {
              width: 29.1%;
            }

            .post-title {
              width: 70.9%;
            }
          }

          .key {
            width: 28.1%;
          }

          .transfer {
            width: 11%;
          }
        }

        .token-activity-wrapper {
          height: 36px;
          min-width: 800px;
          /* fixed width */
          overflow-x: auto;
          /* scrollbar appears only when content overflows */
          overflow-y: hidden;
          /* hides vertical scrollbar */
          white-space: nowrap;

          .token-activity-flex {
            display: flex;
            font-size: 12px;
            height: 24px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #151451;
            border-bottom: 1px dashed #B2B2B2;


            .withdraw-icp {
              color: #CC4747;
            }

            .mint-transfer {
              color: #5ad6b9;
            }

            .key-flex {
              display: flex;
              align-items: center;
              column-gap: 8px;

              .key-counts {
                white-space: nowrap;
              }

              .sold-bar {
                display: flex;

                .sold-percentage-remaining {
                  background-color: #43DFBA;
                  height: 8px;
                }

                .sold-percentage-sold {
                  background-color: #151451;
                  height: 8px;
                }
              }
            }

            .transfer-icon {
              cursor: pointer;
              padding-left: calc(5.5% - 24px);
            }

            .amount {
              width: 10.9%;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }

            .date {
              width: 16.8%;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .from {
              width: 32.9%;
              font-weight: 400;
              line-height: normal;
              overflow: hidden;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            .key {
              width: 28.1%;
              font-weight: 400;
              line-height: normal;
            }

            .transfer {
              width: 11%;
            }

          }

          .horizontal-divider {
            width: 100%;
            border: 1px dashed #B2B2B2;
          }
        }

      }

      &.edit {
        .image {
          height: 150px;
          width: 150px;
          position: relative;
          margin-top: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }

          .edit {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 40px;
            width: 40px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
              width: 25px;
              height: 20px;
              margin: 0;
            }
          }
        }

        .section {
          max-width: 541px;
          width: 98%;
          padding: 10px 0;

          .row {
            display: flex;
            margin-top: 23px;

            .entry {
              width: 50%;
              margin: 25px 0;
            }
          }

          .label {
            color: $darker-border-color;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 12px;
            margin-bottom: 8px;
            line-height: 24px;
          }

          .value {
            color: black;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
          }
        }

        .controls {
          display: flex;
          margin-top: 50px;
        }

        .subtitle {
          margin: -30px 0 0 0;
          font-size: 12px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1089px) {
  .profile-wrapper {
    overflow-x: hidden;

    .container {
      display: inline-flex;
      justify-content: center;
      grid-template-columns: 10% 90%;
      margin-top: 40px;
      padding: 0px;

      .sidebar {
        padding: 0px 0px 0px 10%;

        .route {
        
        }
      }

      .not-toggled {
        padding-left: 20px;
      }

      .wrapper {
        padding: 10px;
        width: 90%;
        padding: 0 15% 0 10%;

        .wallet-text {
          width: 90%;
        }

        .address-flex {
          width: 90%;
        }

        .statistic {
          .stat {
            text-align: center;

          }
        }
      }
    }

    .follower-container {
      flex-direction: column-reverse !important;
    }

    .followers-wrapper {
      padding: 0 15px 0 10px;
      width: 90%;
    }
  }

  .button-attributes-secondary {
    margin-left: none;
  }

  .headerRow {
    display: none !important;
  }
}

.button-attributes-secondary {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}

.editor-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 96px;
  color: white;
  border: none;
  font-weight: 700;
  background-color: $accent-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  float: right;
  margin: 17px;
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .profile-wrapper {
    .container {
      .wrapper {
        .statistic-wrapper {
          flex-direction: column;
          row-gap: 8px;

          .statistic-horizontal-divider {
            display: flex;
          }

          .statistic {
            &:last-child {
              .stat {
                &:last-child {
                  border-right: none;
                }
              }
            }

            .stat {
              &:last-child {
                border-right: none;
              }

              &:first-child {
                border-left: none;
              }
            }
          }
        }

      }
    }
  }
}

@media only screen and (max-width: 546px) {
  .profile-wrapper .container .wrapper .deposit-withdraw-buttons-wrapper {
    width: 100%;
    height: 120px;
    row-gap: 8px;
    flex-direction: column;

    .button-attributes-deposit {
      width: 100%;
    }

    .button-attributes-deposit-dark {
      width: 100%;
    }

    .button-attributes-withdraw {
      width: 100%;
    }

    .button-attributes-withdraw-dark {
      width: 100%;
    }
  }
}