@import '../../shared/styles/Colors';

.subscription-wrapper {
    background-color: white; 
    color: $primary-text-color;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    overflow-x: auto;
    height: 100%;

    .subscription-header {
        color: #151451;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        margin: 24px 0px; 
        max-width: 520px;
    }

    .subscription-title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: $darker-border-color;
        margin-bottom: 40px;
    }

    .tabs {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        border-bottom: #D9D9D9 1px solid;

        button {
            background: none;
            padding: 12px 26px;
            border: none;
            cursor: pointer;
            color: #151451;
            font-weight: bold;
            margin-bottom: -1px;

            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &.active {
                color: #02C3A1;
                border-bottom: 3px solid #02C3A1;
            }
        }
    }

    .table-container {
        overflow-x: auto; 
        width: 100%;
        height: 100vh;
    }

    .subscription-table {
        width: 100%;
        border-collapse: collapse;
        min-width: 800px; 

        th, td {
            border: none;
            padding: 4px;
            text-align: left;
        }

        th {
            background-color: white; 
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 12px;
            line-height: 24px;
            color: $darker-border-color;
        }

        tbody tr:hover {
            background-color: white; 
        }

        .subscription-avatar {
            width: 62px;
            height: 62px; 
            border-radius: 100px;
        
            &.expired {
                filter: grayscale(100%);
            }
        }
    }

    .menu-container {
        position: relative;

        img {
            cursor: pointer;
        }

        .menu-dropdown {
            position: absolute;
            top: 33px;
            right: -5px;
            background-color: white;
            border: none;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 208px;
            height: 134px;

            p {
                margin: 0;
                padding: 8px 16px;
                font-size: 12px;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}
