.actions-wrapper {
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    .action-cards-wrapper {
        display: flex;
        align-items: center;
        height: 250px;
        column-gap: 20px;
        margin: 20px;

        .action {
            height: 50px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));
            backdrop-filter: blur(20px);
            border: 1px solid rgba(255, 255, 255, .4);
            box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
            border-radius: 10px;
            transition: all .3s ease;
            font-size: 14px;
            padding: 5px;
            cursor: pointer;

            &:hover {
                border-color: #2db671;
                transform: translateY(-3px)
            }
        }
    }
}