@import '../../shared/styles/Colors';

.button-attributes-base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;
  border: none;
}

.button-attributes-base:hover {
  border-color: 1px solid $button-border-hover;
}

/* .button-attributes-base:active {
  background-color: $active-background-color;
} */

.button-attributes-base:disabled,
.button-attributes-base:disabled:hover {
  background-color: $medium-border-color;
  color: $disabled-button-text;
  cursor: not-allowed;
}

.button-attributes-navy {
  color: $primary-background-color;
  background-color: $primary-color;
}

.button-attributes-navy:hover {
  background-color: $button-border-hover;
}

.button-attributes-navy-dark:hover {
  background-color: $dark-button-hover-color;
  border: 1px solid $primary-color;
}

.button-attributes-navy:active {
  background-color: $active-background-color;
}

.button-attributes-navy-dark:active {
  background-color: $dark-button-active-color;
}

.button-attributes-navy:disabled,
.button-attributes-navy:disabled:hover,
.button-attributes-navy-dark:disabled,
.button-attributes-navy-dark:disabled:hover,
.button-attributes-white:disabled,
.button-attributes-white:disabled:hover {
  background-color: $medium-border-color;
  border: 1px solid $medium-border-color;
  color: $disabled-button-text;
  cursor: not-allowed;
}

.button-attributes-navy-dark {
  color: $primary-text-color;
  background-color: $second-accent-color;
  border: 1px solid $dark-button-hover-color;
}

.button-attributes-white {
  color: $primary-color;
  background-color: $primary-background-color;
  border: 1px solid $medium-border-color;
}

.button-attributes-white:hover {
  border: 1px solid $primary-color;
}

.button-attributes-white:active {
  background-color: $primary-background-color;
  color: $primary-color;
  border: 1px solid $primary-color;
  cursor: pointer;
}

.button-attributes-email-opt-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $FB-primary-background-color;
  border: none;
  font-weight: 500;
  background-color: $FB-email-opt-in-button-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    background-color: $FB-button-border-hover;
  }

  &:active {
    background-color: $FB-active-background-color;
  }
}

.plus-sign {
  margin: 0 15px 0 -15px;
}

.button-loader-icon {
  margin-right: 4px;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

button:disabled {
  background-color: $medium-border-color;
  color: $disabled-button-text;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: $medium-border-color;
  color: $disabled-button-text;
  cursor: not-allowed;
}
