@import '../../shared/styles/Colors';

.button-attributes-primary-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $primary-background-color;
  border: none;
  font-weight: 500;
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    background-color: $button-border-hover;
  }

  &:active {
    background-color: $active-background-color;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}

.button-attributes-comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $primary-background-color;
  border: none;
  font-weight: 500;
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    background-color: $primary-background-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    cursor: pointer;
  }

  &:active {
    //make 10% lighter
    background-color: $primary-color;
    color: $primary-background-color;
  }

  &:disabled {

    cursor: default;
    color: $primary-background-color;
    background-color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background-color: $primary-background-color;
      color: $primary-color;
      border: 1px solid $primary-color;

      cursor: not-allowed;
    }
  }
}

.button-attributes-comment-button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $dark-primary-text-color;
  border: 1px solid $dark-button-color;
  font-weight: 500;
  background-color: $dark-button-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    background-color: $dark-primary-background-color;
    color: $dark-primary-text-color;
    border: 1px solid $dark-button-color;
  }

  &:active {
    //make 10% lighter
    background-color: $dark-primary-background-color;
    color: $dark-primary-text-color;
  }

  &:disabled {

    cursor: default;
    color: $dark-primary-text-color;
    background-color: $dark-button-color;
    border: 1px solid $dark-button-color;

    &:hover {
      background-color: $dark-primary-background-color;
      color: $dark-primary-text-color;
      border: 1px solid $dark-button-color;

      cursor: not-allowed;
    }
  }
}


.button-attributes-primary-1-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $dark-primary-text-color;
  border: none;
  font-weight: 500;
  background-color: $second-accent-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    background-color: $button-border-hover;
  }

  &:active {
    background-color: $active-background-color;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}

.button-attributes-email-opt-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $FB-primary-background-color;
  border: none;
  font-weight: 500;
  background-color: $FB-email-opt-in-button-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    background-color: $FB-button-border-hover;
  }

  &:active {
    background-color: $FB-active-background-color;
  }
}



.button-attributes-secondary-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $primary-background-color;
  border: 1px solid $medium-border-color;
  font-weight: 500;
  color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 20px;
  transition: 0.1s ease-in-out all;
  &:hover {
    border: 1px solid $button-border-hover;
  }

  &:active {
    border: 1px solid $button-border-hover;
  }
}

.button-attributes-primary-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $primary-background-color;
  border: none;
  font-weight: 500;
  background-color: $accent-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    background-color: $button-hover-background;
  }

  &:active {
    background-color: $accent-color;
  }
}

.button-attributes-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  // width: 152px;
  color: $primary-color;
  border: 1px solid $medium-border-color;
  font-weight: 500;
  background-color: $primary-background-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    border: 1px solid;
    border-color: inherit;
  }

  &:active {
    border: 1px solid $primary-color;
  }
}

.button-attributes-secondary-NFT {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  // width: 152px;
  color: $primary-color;
  border: 1px solid $medium-border-color;
  font-weight: 500;
  background-color: $primary-background-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    border: 1px solid;
    border-color: inherit;
  }

  &:active {
    border: 1px solid $primary-color;
  }
}

.plus-sign {
  margin: 0 15px 0 -15px;
}

button:disabled {
  background-color: $medium-border-color;
  color: $disabled-button-text;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: $medium-border-color;
  color: $disabled-button-text;
  cursor: not-allowed;
}

.button-attributes-withdraw {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: $primary-background-color;
  border: none;
  font-weight: 500;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 240px;
  transition: 0.1s ease-in-out all;


  &:hover {
    background-color: $button-border-hover;
  }

  &:active {
    background-color: $active-background-color;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}

.button-attributes-withdraw-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: $primary-color;
  border: 1px solid $dark-button-color;
  font-weight: 500;
  background-color: $dark-button-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 240px;
  transition: 0.1s ease-in-out all;


  &:hover {
    background-color: $dark-button-hover-color;
  }

  &:active {
    background-color: $dark-button-active-color;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}



.button-attributes-deposit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: $primary-color;
  border: none;
  font-weight: 500;
  background-color: $primary-background-color;
  border: 1px solid #b2b2b2;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 240px;
  transition: 0.1s ease-in-out all;


  &:hover {
    border: 1px solid $primary-color;
  }

  &:active {
    border: 1px solid $accent-color;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}

.button-attributes-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: $primary-color;
  border: none;
  font-weight: 500;
  background-color: $primary-background-color;
  border: 1px solid #b2b2b2;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 240px;
  transition: 0.1s ease-in-out all;


  &:hover {
    border: 1px solid $primary-color;
  }

  &:active {
    border: 1px solid $accent-color;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}


.button-attributes-edit-article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: $primary-color;
  border: none;
  font-weight: 500;
  background-color: $primary-background-color;
  border: 1px solid #b2b2b2;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 240px;
  transition: 0.1s ease-in-out all;


  &:hover {
    border: 1px solid $primary-color;
  }

  &:active {
    border: 1px solid $accent-color;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}

.button-attributes-edit-article-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: $primary-color;
  border: none;
  font-weight: 500;
  background-color: $second-accent-color;
  border: 1px solid $second-accent-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 240px;
  transition: 0.1s ease-in-out all;


  &:hover {
    border: 1px solid $primary-color;
  }

  &:active {
    border: 1px solid #000000;
  }

  &:disabled {
    background-color: $primary-background-color;
    color: $primary-background-color;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
}


.button-attributes-load-more {
  background-color: #f0f0f0;
  color: #999;
  border-radius: 5px;
  margin-top: 16px; 
  padding: 10px 0;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center; 

  &:hover{
  border: none;
  background-color: darken(#f0f0f0, 10%);
  }

  &:disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #f0f0f0;
    color: #999;
    cursor: default;
    border: none;
   &:hover {
    background-color: #f0f0f0;
    color: #999;
    cursor: default;
    border: none;
   }
  }
}

.button-attributes-primary-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $primary-background-color;
  border: none;
  font-weight: 500;
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    background-color: $button-border-hover;
  }

  &:active {
    background-color: $active-background-color;
  }

  &:disabled {
    background-color: grey;
    cursor: default;

    &:hover {
      color: $primary-background-color;
      background-color: $primary-background-color;
      cursor: default;
    }
  }
  
}

.button-attributes-primary-blue-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $primary-color;
  border: none;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.1s ease-in-out all;

  &:hover {
    border: 1px solid $button-border-hover;
  }
  &:active {
    background-color: white;
  }

  &:disabled {
    background-color: grey;
    cursor: default;

    &:hover {
      cursor: default;
    }
  }
  
}