.footer-image-section {
  margin-top: 50px;
  position: static;
  bottom: 0;
}
.logo-header1 {
  opacity: 20%;
  font-size: xx-small;
  margin-left: 5px;
  margin-right: 20px;
}
.logo-header2 {
  opacity: 20%;
  font-size: xx-small;
  margin-left: 65px;
}
.footer-image {
  max-width: 102px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 20px;
}
