.homepage-wrapper {
  font-family: 'Roboto';

  .main {
    display: grid;
    grid-template-areas: 'sidebar content';
    grid-template-columns: 2.5fr 6fr;
    column-gap: 50px;
    width: 100vw;
    min-height: 100vh;

    &.blurred {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }

    .left {
      margin: 0 auto;
      width: 100%;
      border-right: 1px solid $vertical-divider;
      background-image: url('../../assets/assets/images/backgrounds/mask-group.svg');
      background-size: auto 560px;
      background-position: 100% 55vh;
      background-repeat: no-repeat;

      .left-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 50px;

        >* {
          margin: 2px 0;
        }

        >button {
          margin: 10px 0;
        }

        .name {
          font-size: 16px;
          color: $tag-text-color;
        }

        .handle {
          color: $primary-text-color;
          font-size: 16px;
          padding-bottom: 8px;
        }

        .articles {
          display: flex;
          justify-content: center;
          padding-bottom: 16px;
          width: min-content;
          text-align: center;
          padding-top: 16px;

          h6 {
            width: max-content;
            font-size: 0.67em !important;
            font-weight: bold !important;
          }

          .left {
            justify-self: right;
          }

          .right {
            justify-self: left;
          }
        }

        .avatar {
          width: 105px;
          border-radius: 100%;
        }
      }

      .left-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 5px;
        padding: 0 auto;
      }
    }

    // .right {
    //   display: flex;
    //   flex-direction: row;
    //   text-align: left;
    //   transition: ease-in 100ms;
    //   margin: 0 auto;
    // }
    .posts {
      margin-right: 100px;

      .search-nav-bar-flex {
        width: 100%;
        column-gap: 20px;
        display: flex;
        border-bottom: solid 1px;
        font-weight: bold;
        font-size: 14px;
        color: #999999;
        margin-bottom: 20px;
        font-family: "Roboto";
        margin-left: 3%;
      }

      .search-nav-bar-element {
        cursor: pointer;
        border-left: solid;
        border-color: #999999;
        padding-left: 10px;
        height: 27px;
      }

      .search-nav-bar-element:hover {
        text-decoration: underline;
        color: #02C4A1;
      }

      .search-nav-bar-element-active {
        cursor: pointer;
        font-weight: bolder;
        color: #02C4A1;
        border-left: solid;
        padding-left: 10px;
        border-color: #999999;
        height: 27px;

      }

      .search-nav-bar-element-active:hover {
        text-decoration: underline;
      }
    }
  }
}

.search-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 11%;
  align-items: center;

  .search-count {
    flex-grow: 2;
    font-weight: bold;
    font-size: 14px;
    color: $darker-border-color;
    width: fit-content;
    font-family: 'Roboto';
    margin-bottom: 15px;

    .pipe {
      margin-right: 2%;
    }

    .result {
      color: $primary-text-color;
    }
  }

  .follow {
    button {
      margin-left: 10px;
      margin-top: 7px;
    }
  }
}

.user-search-item {
  display: flex;
  align-items: center;
  column-gap: 20px;

  .publication-image-search {
    width: 176px;
    height: 100px;
    border-radius: 0;
    transition: none;
    object-fit: cover;
  }

  .user-image-search {
    width: 100px;
    height: 100px;
    transition: none;
  }

  .user-search-info {
    flex: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .handle {
      color: rgb(21, 20, 81);
      cursor: pointer;
    }

    .handle:hover {
      text-decoration: underline;
    }

    .display-name-search-item {
      margin: 0 0 10px 0;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: #00113e;
      font-weight: lighter;
      font-size: 22px;
      cursor: pointer;
    }

    .display-name-search-item:hover {
      text-decoration: underline;
    }

    .bio {
      cursor: pointer;
    }

    .bio:hover {
      text-decoration: none !important;
    }
  }

}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2%;

  .link1 {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: bold;
    width: fit-content;
    color: $highlight-one;
  }

  .sec {
    width: 50%;
    border-bottom: 1px solid $darker-border-color;
    padding-bottom: 10px;

    .link2 {
      text-decoration: none;
      font-size: 14px;
      font-family: 'Roboto';
      font-weight: bold;
      width: fit-content;
      color: $darker-border-color;
      margin-left: 5%;
      margin-bottom: 10%;
    }
  }

  .span {
    margin-left: 3%;
    color: $darker-border-color;
  }
}

.home-grid-load-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.load-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -15px;
  align-self: center;

  div {
    margin-top: 10px;
  }
}

.load-more:hover {
  border: 1px solid $button-border-hover;
}

.mainTitle {
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: $subtitle-text;
  font-size: 12px;
  font-weight: 700;
}

.dropdown-wrapper {
  position: absolute;
  width: 135px;
  top: -45px;
  right: 6%;
  background-color: white;
  z-index: 500;

  .dropdown-selector-wrapper {
    border-bottom: solid 1px #1FE1BF;

    .dropdown-selector {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .dropdown-selector:hover {
      cursor: pointer;
    }

    box-shadow: none;
  }

  .items-wrapper {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 200px;
    margin-left: -65px;
    background: white;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

    .item {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      font-size: 14px;
    }

    .item:hover {
      cursor: pointer;
      color: #02C4A1;
    }
  }



}


.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .homepage-wrapper {
    font-family: 'Roboto';

    .main {
      grid-template-columns: 1fr 11fr;
      column-gap: initial;
      width: initial;

      .left {
        background-image: none;
        border-right: none;

        .left-content {
          display: none;
        }

        .logged-out {
          display: none;
        }

        .left-menu {
          display: flex;
        }
      }

      .right {
        width: 100%;

        .image-divider {
          img {
            display: none;
          }

          .vertical-divider {
            display: none;
          }
        }

        .posts {
          display: flex;
          flex-direction: column;
          margin: 0;
        }
      }
    }

    .main1 {
      grid-template-columns: 1fr 11fr;

      .left {
        background-image: none;
        border-right: none;

        .left-content {
          display: none;
        }

        .logged-out {
          display: none;
        }

        .left-menu {
          display: flex;
        }
      }

      .right {
        width: 100%;

        .image-divider {
          img {
            display: none;
          }

          .vertical-divider {
            display: none;
          }
        }

        .posts {
          display: flex;
          flex-direction: column;
          margin: 0;
        }
      }
    }
  }

  .article-grid-horizontal,
  .rowContainer,
  .mainTitle,
  .search-summary,
  .load-more-container,
  .article-grid {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .mainTitle {
    margin: 20px;
    font-family: Roboto, sans-serif;
    color: $subtitle-text;
    font-size: 12px;
    font-weight: 700;
  }

  .dropdown-wrapper {
    right: 12%;
    width: 135px;
  }

  .search-summary {
    padding-right: 0;

    .follow {
      button {
        margin-left: 5px;
      }
    }
  }
}

.arrow {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  transition: 0.2s;
}

.a-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.a-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.a-up {
  margin-bottom: -2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.a-down {
  margin-bottom: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media only screen and (max-width: 484px) {
  .user-search-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
  
    .publication-image-search {
      width: 124px;
      height: 70px;
      border-radius: 0;
      transition: none;
      object-fit: cover;
    }
  
    .user-image-search {
      width: 70px;
      height: 70px;
      transition: none;
    }
  
    .user-search-info {
      flex: auto;
      height: 70px;
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  
      .handle {
        color: rgb(21, 20, 81);
        cursor: pointer;
        font-size: 10px;
      }
  
      .handle:hover {
        text-decoration: underline;
      }
  
      .display-name-search-item {
        margin: 0 0 10px 0;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #00113e;
        font-weight: lighter;
        font-size: 16px;
        cursor: pointer;
      }
  
      .display-name-search-item:hover {
        text-decoration: underline;
      }
  
      .bio {
        cursor: pointer;
        font-size: 12px;
      }
  
      .bio:hover {
        text-decoration: none !important;
      }
    }
  
  }
}