@import '../../shared/styles/Colors';
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  .login-buttons-style {
    background-color: $accent-color
  }
  .join-revolution {
    margin-top: -64px;
    min-height: 615px;
    max-height: 615px;
    width: 100%;
    background-image: url('../../assets/assets/images/join-the-revolution-background.webp');
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    .join-revolution-container {
      width: calc(100% - 56px);
      background: linear-gradient(
        180deg,
        #ffffff00 0%,
        rgb(255 255 255 / 68%) 100%
      );
      height: 555px;
      display: flex;
      align-items: end;
      justify-content: space-around;
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 106px;
        .nuance-logo-blue-text {
          min-width: 268px;
          max-width: 268px;
          min-height: 233px;
          max-height: 233px;
          .image-container {
            width: 100%;
          }
        }
        .buttons-wrapper {
          min-height: 99px;
          max-height: 99px;
          width: 399px;
          display: flex;
          align-items: end;
          column-gap: 5px;
          .button {
            width: 100%;
            padding-left: 23px;
            width: calc(100% - 23px);
            height: 97px;
            display: flex;
            align-items: center;
            justify-content: start;
            cursor: pointer;
            background: $primary-color;
            color: $primary-background-color;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: 40px;
            border: 1px solid transparent;
          }
          .selected {
            background: $primary-background-color;
            color: $primary-color;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 26px;
        .title {
          text-align: center;
          font-family: Roboto;
          font-size: 40px;
          font-style: normal;
          font-weight: 900;
          line-height: 40px;
          color: $primary-color;
          max-width: 371px;
        }
        .login-options {
          min-width: 337px;
          max-width: 337px;
          min-height: 307px;
          max-height: 307px;
          background-image: url('../../assets/assets/images/homepage-login-options-background.svg');
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 16px;
          .title {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
            color: $primary-color;
          }
          .other-options {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
            color: $primary-background-color;
            cursor: pointer;
            text-decoration: underline;
          }
          .login-option-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .login-info-text {
              font-family: Roboto;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              text-decoration-line: underline;
              max-width: 266px;
              text-decoration: underline;
              cursor: pointer;
              color: $lighter-content-text-color;
            }
          }
        }
      }
    }
  }
  .join-revolution-mobile {
    display: none;
  }

  .about-nuance-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome-to-blogging {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 129px;
      max-width: 928px;
      .title {
        text-align: center;
        font-family: Roboto;
        font-size: 50px;
        font-style: normal;
        font-weight: 100;
        line-height: 50px;
        color: $lighter-text-color;
        max-width: 644px;
      }
      .image {
        margin-top: 67px;
        margin-left: 20px;
        max-width: 960px;
        width: 100%;
        margin-right: 10rem;
        align-self: center;
      }
      .colorful-divider {
        background: linear-gradient(270deg, #25f68d 16.48%, #1bc0f2 94.58%);
        height: 9px;
        width: 100%;
        max-width: 1128px;
        margin-top: -1.2rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .read-write-earn-money {
      margin-top: 84px;
      display: flex;
      align-items: start;
      column-gap: 136px;
      width: 90%;
      max-width: 928px;

      .title {
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        color: $primary-color;
        max-width: 352px;
      }
      .content {
        max-width: 418px;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: $lighter-content-text-color;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 24px;
      }
    }

    .trending-topics {
      margin-top: 95px;
      display: flex;
      align-items: start;
      flex-direction: column;
      row-gap: 9px;
      width: 90%;
      max-width: 1234px;
      .title {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 222.222% */
        text-transform: uppercase;
        color: $lighter-text-color;
      }
      .topics-wrapper {
        display: flex;
        align-items: center;
        column-gap: 32px;
        max-width: 95vw;
        overflow-y: scroll;
        .topic {
          min-width: 177px;
          max-width: 177px;
          height: 91px;
          border-radius: 100px;
          border: 1px solid $highlight-one;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: Roboto;
          font-size: 19px;
          font-style: normal;
          font-weight: 700;
          line-height: 25px; /* 222.222% */
          text-transform: uppercase;
          color: $lighter-text-color;
          margin-bottom: 4px;
        }
      }
    }

    .high-tech {
      margin-top: 260px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      max-width: 928px;
      .left {
        display: flex;
        align-items: start;
        flex-direction: column;
        row-gap: 65px;
        .title {
          font-family: Roboto;
          font-size: 40px;
          font-style: normal;
          font-weight: 900;
          line-height: 40px;
          color: $primary-color;
          max-width: 371px;
        }
        .content {
          max-width: 373px;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          color: $lighter-content-text-color;
          display: flex;
          flex-direction: column;
          align-items: start;
          row-gap: 24px;
        }
      }
      .right-image {
        max-width: 414px;
      }
    }
    .features-wrapper {
      margin-top: 87px;
      width: 90%;
      max-width: 928px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 87px;
      .title {
        text-align: center;
        font-family: Roboto;
        font-size: 60px;
        font-style: normal;
        font-weight: 100;
        line-height: 60px;
        color: $lighter-text-color;
      }
      .features-content-wrapper {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        column-gap: 102px;
        .features-left {
          display: flex;
          flex-direction: column;
          align-items: start;
          row-gap: 39px;
          padding-top: 18px;
          padding-left: 34px;
          padding-bottom: 59px;
          border-left: 1px solid #d9d9d9;
          min-width: 320px;
          max-width: 407px;
          width: 100%;
          position: relative;
          .feature {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: 5px;
            .title {
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 26px;
              color: $primary-color;
            }
            .content {
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              color: $lighter-content-text-color;
            }
          }
          .mask-group {
            position: absolute;
            position: absolute;
            bottom: 0;
            left: -175px;
          }
        }
        .features-right {
          display: flex;
          flex-direction: column;
          align-items: start;
          row-gap: 39px;
          padding-top: 18px;
          padding-left: 34px;
          padding-bottom: 59px;
          border-left: 1px solid #d9d9d9;
          min-width: 320px;
          max-width: 407px;
          width: 100%;
          .feature {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: 5px;
            .title {
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 26px;
              color: $primary-color;
            }
            .content {
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              color: $lighter-content-text-color;
            }
          }
        }
      }
    }
    .monetize-wrapper {
      max-width: 928px;
      margin-top: 178px;
      background-image: url('../../assets/assets/images/monetize_background.svg');
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      display: flex;
      align-items: start;
      padding-left: 75px;
      padding-top: 66px;
      .left {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        align-items: start;
        .title {
          font-family: Roboto;
          font-size: 40px;
          font-style: normal;
          font-weight: 900;
          line-height: 40px;
          color: $primary-background-color;
          min-width: 371px;
          max-width: 371px;
        }
        .content {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          color: $edit-profile-input-text-color;
          width: 320px;
          display: flex;
          flex-direction: column;
          align-items: start;
          row-gap: 24px;
        }
      }
      .monetize-image {
        min-width: 640px;
      }
    }
    .monetize-wrapper-mobile {
      display: none;
    }
    .start-writing {
      margin-top: 215px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 32px;
      .title {
        text-align: center;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 100;
        line-height: 50px;
        max-width: 812px;
        color: $lighter-text-color;
      }
      .login-buttons-wrapper {
        margin-top: 0;
      }
      .login-button-mobile {
        display: none;
      }
    }
    .start-a-movement {
      margin-top: 247px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      max-width: 928px;
      .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 65px;
        max-width: 373px;
        .title {
          font-family: Roboto;
          font-size: 40px;
          font-style: normal;
          font-weight: 900;
          line-height: 40px;
          color: $primary-color;
        }
        .content {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          color: $lighter-content-text-color;
          display: flex;
          flex-direction: column;
          align-items: start;
          row-gap: 24px;
        }
      }
      .right-image {
        max-width: 414px;
      }
    }
    .end-colorful-divider {
      background: linear-gradient(270deg, #25f68d 16.48%, #1bc0f2 94.58%);
      height: 9px;
      width: 95%;
      margin-top: 320px;
      margin-bottom: 40px;
    }
    .login-buttons-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 40px;
      margin-top: 61px;
    }
    .login-button-mobile {
      display: none;
    }
  }

  .articles-section-wrapper {
    display: flex;
    max-width: 1426px;
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    .left {
      min-width: 366px;
      max-width: 366px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 24px;
      padding-bottom: 113px;
      .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        margin-top: 113px;
        .avatar {
          min-width: 62px;
          max-width: 62px;
          min-height: 62px;
          max-height: 62px;
          border-radius: 50%;
          background: #999;
        }
        .display-name {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: $lighter-text-color;
        }
        .handle {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: $primary-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .social-channels {
        display: flex;
        align-items: center;
        column-gap: 4px;
        .social-channel-icon {
          cursor: pointer;
          min-width: 18px;
          max-width: 18px;
          min-height: 18px;
          max-height: 18px;
        }
      }
      .articles {
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        color: $primary-color;
        display: flex;
        align-items: center;
        column-gap: 4px;
      }
      .blue-logo {
        min-width: 148px;
        max-width: 148px;
        min-height: 128px;
        max-height: 128px;
        width: 262px;
        height: 120px;
      }
      .blogging-to-the-people {
        text-align: center;
        font-family: Roboto;
        font-size: 38px;
        font-style: normal;
        font-weight: 300;
        line-height: 45px;
        color: $lighter-text-color;
        width: 262px;
      }
      .content {
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 262px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
      }
      .login-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 13px;
        .login-option-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          .login-info-text {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            text-decoration-line: underline;
            max-width: 266px;
            text-decoration: underline;
            cursor: pointer;
            color: $lighter-content-text-color;
          }
        }
        .other-options {
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px; /* 162.5% */
          text-decoration-line: underline;
          color: $primary-color;
          cursor: pointer;
        }
      }
    }
    .left-mobile {
      display: none;
      transition: 0.2s ease-in-out all;
    }
    .right {
      padding-left: 98px;
      width: calc(100% - 99px);
      max-width: 961px;
      border-left: 1px solid $light-border-color;
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: 100vh;
      .mask-group {
        width: 157px;
        position: absolute;
        left: -157px;
        top: 320px;
        z-index: -1;
      }
      .searchbar-wrapper {
        position: absolute;
        top: -100px;
        left: 120px;
        filter: none;
      }
      .tabs-and-grid-wrapper {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .tabs {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $light-border-color;
          width: 100%;
          .left-items {
            display: flex;
            align-items: center;
            .item {
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              color: $primary-color;
              cursor: pointer;
              padding-top: 12px;
              padding-bottom: 12px;
              padding-left: 26px;
              padding-right: 26px;
              border-right: 1px solid transparent;
              border-left: 1px solid transparent;
              &:hover {
                border-right: 1px solid $light-border-color;
                border-left: 1px solid $light-border-color;
                color: $accent-color !important;
                text-decoration: underline;
              }
            }
            .item-selected {
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              color: $accent-color !important;
              cursor: pointer;
              padding-top: 12px;
              padding-bottom: 12px;
              padding-left: 26px;
              padding-right: 26px;
              border-right: 1px solid $light-border-color;
              border-left: 1px solid $light-border-color;
            }
          }
          .search-item {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 26px;
            padding-right: 26px;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: $accent-color;
            border-right: 1px solid $light-border-color;
            border-left: 1px solid $light-border-color;
            cursor: pointer;
          }
        }
        .homepage-vertical-grid {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(auto-fill, calc(50% - 36px));
          row-gap: 56px;
          column-gap: 72px;
          margin-top: 80px;
        }
        .homepage-horizontal-flex {
          margin-top: 56px;
          margin-bottom: 56px;
          display: flex;
          flex-direction: column;
          width: 100%;
          row-gap: 56px;
        }
        .search-results-wrapper {
          margin-top: 24px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1240px) {
  .homepage {
    .about-nuance-wrapper {
      .monetize-wrapper {
        display: none;
      }
      .monetize-wrapper-mobile {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 80px;
        align-items: center;
        .monetize-image {
          width: 80%;
        }
        .content-inside {
          background: linear-gradient(180deg, #25f68d 0%, #1bc0f2 100%);
          width: 100%;
          padding-top: 95px;
          height: 290px;
          padding-left: 43px;
          row-gap: 29px;
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-top: 48px;
          .title {
            font-family: Roboto;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 40px;
            color: $primary-background-color;
            max-width: 265px;
          }
          .content {
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            color: $primary-color;
            width: calc(100% - 25px);
          }
        }
        .content-outside {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          color: $lighter-content-text-color;
          width: calc(100% - 25px);
          padding-left: 25px;
          margin-top: 12px;
        }
      }
    }
    .articles-section-wrapper {
      .left {
        min-width: 312px;
        max-width: 312px;
      }
      .right {
        padding-left: 40px;
        .searchbar-wrapper {
          left: 40px;
        }
        .tabs-and-grid-wrapper {
          .homepage-vertical-grid {
            grid-template-columns: repeat(auto-fill, calc(50% - 15px));
            row-gap: 30px;
            column-gap: 30px;
            margin-top: 60px;
          }
          .homepage-horizontal-flex {
            row-gap: 30px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .homepage {
    .join-revolution {
      display: none;
    }
    .join-revolution-mobile {
      display: flex;
      flex-direction: column;
      background-image: url('../../assets/assets/images/join-the-revolution-background.png');
      background-position: right;
      width: 100%;
      align-items: center;
      margin-top: -50px;
      row-gap: 24px;
      .nuance-logo-blue-text {
        width: 190px;
        height: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        background: linear-gradient(180deg, #ffffff, transparent);
        .image-container {
          width: 145px;
        }
      }
      .login-options-mobile-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;

        .title {
          font-family: Roboto;
          font-size: 32px;
          font-weight: 900;
          line-height: 40px;
          text-align: center;
          color: $primary-color;
          max-width: 290px;
        }
        .login-options {
          min-width: 290px;
          max-width: 337px;
          min-height: 280px;
          max-height: 307px;
          background-image: url('../../assets/assets/images/homepage-login-options-background.svg');
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 16px;
          .title {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
            color: $primary-color;
          }
          .other-options {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
            color: $primary-background-color;
            cursor: pointer;
            text-decoration: underline;
          }
          .login-option-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .login-info-text {
              font-family: Roboto;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              text-decoration-line: underline;
              max-width: 266px;
              text-decoration: underline;
              cursor: pointer;
              color: $lighter-content-text-color;
            }
          }
        }
      }
      .buttons-wrapper {
        min-height: 99px;
        max-height: 99px;
        max-width: 376px;
        width: 90%;
        display: flex;
        align-items: end;
        column-gap: 5px;
        .button {
          width: 100%;
          padding-left: 23px;
          width: calc(100% - 23px);
          height: 80px;
          display: flex;
          align-items: end;
          justify-content: start;
          cursor: pointer;
          background: $primary-color;
          color: $primary-background-color;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 900;
          line-height: 40px;
          border: 1px solid transparent;
        }
        .selected {
          background: $primary-background-color;
          color: $primary-color;
        }
      }
    }
    .about-nuance-wrapper {
      .welcome-to-blogging {
        margin-top: 94px;
        row-gap: 48px;
        .title {
          text-align: center;
          font-family: Roboto;
          font-size: 30px;
          font-style: normal;
          font-weight: 100;
          line-height: 40px;
        }
        .image {
          margin-top: 0;
          margin-left: 6rem;

          @media (min-width: 768px) and (max-width: 1024px) {
            margin-left: 3rem;
          }

          @media (min-width: 444px) and (max-width: 768px) {
            margin-left: 2.5rem;
          }
        }
        .colorful-divider {
          width: 93%;
          margin-top: -3.5rem;
          margin-left: auto;
          margin-right: auto;

          @media (min-width: 768px) and (max-width: 1024px) {
            width: 90%;
            margin-left: 2.5rem;
            margin-right: auto;
            margin-top: -4rem;
          }

          @media (min-width: 444px) and (max-width: 768px) {
            width: 90%;
            margin-left: 2.5rem;
            margin-right: auto;
            margin-top: -4rem;
          }
        }
      }
      .start-writing {
        display: none;
      }
      .read-write-earn-money {
        margin-top: 48px;
        flex-direction: column;
        row-gap: 40px;
        .title {
          font-size: 32px;
          line-height: 38px;
        }
        .content {
          max-width: unset;
        }
      }
      .login-buttons-wrapper {
        display: none;
      }
      .login-button-mobile {
        display: flex;
        margin-top: 106px;
      }
      .trending-topics {
        margin-top: 52px;
      }
      .high-tech {
        margin-top: 46px;
        justify-content: start;
        flex-direction: column-reverse;
        row-gap: 16px;
        width: 100%;
        .left {
          width: 90%;
          .title {
            font-size: 32px;
            line-height: 38px;
          }
          .content {
            max-width: unset;
          }
        }
        .right-image {
          width: 100%;
        }
      }
      .features-wrapper {
        margin-top: 87px;
        row-gap: 50px;
        .title {
          font-size: 40px;
          font-style: normal;
          font-weight: 100;
          line-height: 60px;
        }
        .features-content-wrapper {
          flex-direction: column;
          .features-left {
            padding-bottom: 25px;
            max-width: unset;
            min-width: unset;
          }
          .features-right {
            max-width: unset;
            min-width: unset;
          }
        }
      }

      .start-a-movement {
        flex-direction: column-reverse;
        margin-top: 121px;
        row-gap: 103px;
        .left {
          max-width: unset;
          row-gap: 60px;
          .title {
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: 38px;
          }
          .content {
          }
        }
        .right-image {
          max-width: unset;
          width: 100%;
        }
      }
      .trending-topics {
        .topics-wrapper {
          column-gap: 20px;
          .topic {
            min-width: 112px;
            max-width: 112px;
            height: 58px;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
          }
        }
      }
    }
    .articles-section-wrapper {
      justify-content: start;
      margin-top: 100px;
      .left {
        display: none;
      }
      .left-mobile {
        min-width: 20px;
        max-width: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 18px;
        position: relative;
        .user-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 12px;
          margin-top: 113px;
          .avatar {
            min-width: 62px;
            max-width: 62px;
            min-height: 62px;
            max-height: 62px;
            border-radius: 50%;
            background: #999;
          }
          .display-name {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: $lighter-text-color;
          }
          .handle {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            color: $primary-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .social-channels {
          display: flex;
          align-items: center;
          column-gap: 4px;
          .social-channel-icon {
            cursor: pointer;
            min-width: 18px;
            max-width: 18px;
            min-height: 18px;
            max-height: 18px;
          }
        }
        .articles {
          text-align: center;
          font-family: Roboto;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          color: $primary-color;
          display: flex;
          align-items: center;
          column-gap: 4px;
        }
        .blue-logo {
          min-width: 148px;
          max-width: 148px;
          min-height: 128px;
          max-height: 128px;
          width: 174px;
          height: 120px;
        }
        .blogging-to-the-people {
          text-align: center;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 30px;
          color: $lighter-text-color;
          width: 174px;
        }
        .content {
          text-align: center;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          width: 174px;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 8px;
        }
        .login-options {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 8px;
          .login-option-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .login-info-text {
              font-family: Roboto;
              font-size: 10px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
              text-decoration-line: underline;
              max-width: 174px;
              text-decoration: underline;
              text-align: center;
              cursor: pointer;
              color: $lighter-content-text-color;
            }
          }
          .other-options {
            text-align: center;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 162.5% */
            text-decoration-line: underline;
            color: $primary-color;
            cursor: pointer;
          }
        }
        .menu-button {
          width: 12px;
          height: 12px;
          cursor: pointer;
          position: absolute;
          right: 4px;
          top: 0;
          .burger-menu-icon {
            width: 12px;
            height: 10px;
            position: relative;
            cursor: pointer;
            display: inline-block;
          }

          .burger-menu-icon span {
            background-color: $primary-color;
            position: absolute;
            height: 1px;
            width: 100%;
            transition: all 0.2s ease-in-out;
          }

          .burger-menu-icon span:nth-child(1) {
            top: 0px;
          }

          .burger-menu-icon span:nth-child(2) {
            top: 4px;
          }

          .burger-menu-icon span:nth-child(3) {
            top: 8px;
          }

          .burger-menu-icon.active span:nth-child(1) {
            top: 4px;
            transform: rotate(45deg);
          }

          .burger-menu-icon.active span:nth-child(2) {
            opacity: 0;
          }

          .burger-menu-icon.active span:nth-child(3) {
            top: 4px;
            transform: rotate(-45deg);
          }
        }
      }
      .right {
        padding-left: 20px;
        width: 100%;
        .searchbar-wrapper {
          left: 20px;
        }
        .tabs-and-grid-wrapper {
          .homepage-vertical-grid {
            grid-template-columns: repeat(auto-fill, 100%);
            row-gap: 30px;
            column-gap: 30px;
            margin-top: 60px;
          }
          .homepage-horizontal-flex {
            row-gap: 30px;
            margin-top: 30px;
          }
          .tabs {
            flex-wrap: wrap;
            .left-items {
              .item {
                padding: 12px;
                font-size: 10px;
              }
              .item-selected {
                padding: 12px;
                font-size: 10px;
              }
            }
            .search-item {
              padding: 12px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 490px) {
  .homepage .about-nuance-wrapper .monetize-wrapper-mobile .content-inside {
    height: 315px;
  }
}

@media only screen and (max-width: 386px) {
  .homepage .about-nuance-wrapper .monetize-wrapper-mobile .content-inside {
    height: 340px;
  }
}
