@import '../../shared/styles/Colors';

.logged-out-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  justify-content: center;
  width: 100%;

  .logged-out-sidebar-nuance-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    text-align: center;
    max-width: 265px;
    min-width: 265px;
    .nuance-logo-blue{
      width: 145px;
    }

    .blogging-to-the-people-light {
      font-weight: 200;
      font-size: 38px;
      line-height: 45px;
      color: #999;
      text-align: center;
    }
  }

  .logged-out-sidebar-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 24px;
    align-items: center;
    max-width: 265px;

    .logged-out-sidebar-button{
      width: 100%;

      .logged-out-navy-button-dark {
        color: $primary-background-color;
        background-color: $accent-color;
      }
    }

    .logged-out-sidebar-identity {
      color: #3684D9;
      font-size: 14px;
    }
    .logged-out-sidebar-identity:hover{
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .logged-out-sidebar-button{
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .logged-out-sidebar-nuance-info{
    max-width: 95vw;
    min-width: 75vw;
  }
  .logged-out-sidebar-buttons{
    max-width: 95vw;
  }
}
