@import '../../shared/styles//Colors';

.main-pic-editor {
  width: 100%;
  height: 100%;
  // object-fit: cover;
  transition: ease-in 100ms;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    transition: ease-in 100ms;
    box-shadow: 0px 5px 10px 5px $box-shadow;
  }
}


.card-editor-publication-wrapper {
  display: flex;
  align-items: center;
  min-width: 813px;
  max-width: 813px;

  .field-general {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .field-published {
    width: 9.7%;

    .nft-icon {
      min-width: 22px;
      max-width: 22px;
      min-height: 22px;
      max-height: 22px;
    }
  }

  .field-article {
    width: 30%;
    display: flex;
    align-items: center;
    column-gap: 6px;



    &:hover .article-title {
      text-decoration: underline;
    }

    .article-image {
      min-width: 90px;
      max-width: 90px;
      min-height: 60px;
      max-height: 60px;
      object-fit: cover;
      border-radius: 5px;

      &:hover {
        transform: scale(1.01);
        transition: ease-in 100ms;
        box-shadow: 0px 5px 10px 5px $box-shadow;
      }
    }

    .article-title {
      color: #151451;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      cursor: pointer;


    }
  }

  .field-writer {
    width: 10%;
    color: #151451;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    &:hover {
      text-decoration: underline;
    }
  }

  .field-category {
    width: 12.8%;
  }

  .field-applause {
    width: 9.7%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8px;
    cursor: pointer;

    .clap-icon-card-editor {
      min-width: 22px;
      max-width: 22px;
      min-height: 22px;
      max-height: 22px;
    }

    .clap-count {
      color: #4C4C52;
      text-align: center;
      /* NUA/Roboto/12/Regular */
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }

  .field-published-date {
    width: 13.8%;
    color: #666;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .field-modified {
    width: 13.8%;
    width: 13.8%;
    color: #666;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .tooltip-wrapper {
    border-radius: 2px;
    background: #000;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    column-gap: 5px;

    .tooltip-inside-handle {
      color: #FFF;
      /* NUA/Roboto/11/Regular */
      font-family: Roboto;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .tooltip-inside-text {
      color: #FFF;
      /* NUA/Roboto/11/Regular */
      font-family: Roboto;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }

}