@import '../../shared/styles/Colors';

.selection-item {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #5E7CC9;
    color: #151451;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    &:hover {
        border-color: $accent-color;
    }
}

.selection-item-selected {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: #151451;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    &:hover {
        border-color: $accent-color;
    }

}

.selection-item-dark {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #5E7CC9;
    color: rgb(178, 178, 178);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    &:hover {
        border-color: $accent-color;
    }
}

.selection-item-selected-dark {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: $accent-color;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    &:hover {
        border-color: #FFF;
    }

}