@import '../../shared/styles/Colors';

.icon-input{
// width: 100%;
outline: none;
border: none;
padding: 10px;
margin: 1px;
border-bottom: solid 1px $title-divider-color;
display: block;
overflow: hidden;
width: fit-content;


}


