.publication-landing-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  min-height: 100vh;
  .left {
    width: 24%;
    max-width: 250px;
    .left-content {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .link-report {
        margin-right: -30%;
      }
      .brand-logo-left{
        width: 180px;
        height: 57px;
        margin-top: 0;
        margin-bottom: 0;
        object-fit: contain;
      };
    }
    .left-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: sticky;
      top: 5px;
      padding: 0 auto;
      margin-top: 0;
    }
  }

  .vertical-divider {
    margin: 70px 0 0 0;
    padding: 0.1px;
  }

  .publication-landing-cta{



  }

  .right {
    max-width: 1170px;
    width: 76%;
    .article-list {
      border-left: 1px solid #c4c4c4;
      position: relative;
      .mainTitle {
        padding-top: 100px;
        margin-left: 5%;
        font-family: Roboto, sans-serif;
        color: #687487;
        font-size: 12px;
        font-weight: 700;
      }
    }
    .footer {
      margin-left: 5%;
    }
  }

  .header-image-container {
    position: relative;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.80) 0%, 
        rgba(0, 0, 0, 0.00) 100%
      );
      pointer-events: none; 
    }
  
    .header-img {
      width: 100%;
      max-height: 480px;
      min-height:408px;
      object-fit: cover;
    }

    .nuance-publication, .publication-name, .publication-subtitle, .publication-handle {
      position: absolute;
      left: 5%; 
      z-index: 2; 
    }

    .nuance-publication {
      position: absolute;
      top: 20px;
      left: 5.6vw;
      color: #999999;
      font-size: clamp(12px, 1.2vw, 14px);
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
  
    .publication-name {
      position: absolute;
      bottom: 141px;
      left: 7vw;
      color: #fff;
      font-size: clamp(50px, 7vw, 70px);
      font-style: normal;
      font-weight: 300;
      line-height: 6vh; 
      font-family: Roboto;
      margin: 0px -5px;
      text-align: left;
     
    }
  
    .publication-subtitle {
      position: absolute;
      bottom: 94px;
      left: 7vw;
      text-align: left;
  
      color: #d9d9d9;
      font-size: clamp(12px, 1.8vw, 18px);
      font-style: normal;
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: 400;
      line-height: 2.6vh;
      font-family: Roboto;
    }
  
    .publication-handle {
      position: absolute;
      bottom: 36px;
      left: 7vw;
      color: #e6e6e6;
      font-size: clamp(12px, 1.2vw, 12px);
      font-style: normal;
      font-weight: 700;
      line-height: 2.4vh;
      font-family: Roboto;
      margin-left: -5px;

      .at-handle{
        padding-left: 11px;
      }
      
    }
  }

  .publication-header-icon {
    width: 8px;
    height: 8px;
    margin-left: -13px;
    margin-top: 18px;
  }
  

 

  .article-grid-large {
    margin-left: 0;
    margin-right: 5%;
    margin-top: 15px;
    margin-left: 5%;
  }
  .article-grid-horizontal {
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .article-grid {
    margin-left: 5%;
  }
}

.meatball-menu {
  z-index: 1;
  
}

.publication-name-icon-flex {
  display: flex;
  justify-content: space-between;
}

.publication-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: -0.2rem;
}

.blurred{
  filter: blur(5px);
}

.rowContainer{
  margin-top: 2%;
  margin-left: 3%;
}

.search-summary{
  margin-left: 3%;
}

.divider{
  padding-left: 0;
}



@media only screen and (max-width: 1089px) {
  .publication-landing-wrapper {
    .left{
      width: 20px;
      .left-content{
        margin-top: 0;
        .brand-logo-left{
          margin-bottom: 20px;
        }
        .left-sidebar{
          visibility: hidden;
        }
        .link-report{
          margin-right: 25px;
        }
      }
      .drop-down-content{
        visibility: hidden;
      }
    }
    .scrolled{
      width: max-content;
      .left-content{
        .left-sidebar{
          visibility: visible;
        }
        .link-report{
          margin-right: -60%;
        }
      }
      .drop-down-content{
        visibility: visible;
      }
      .categories-header{
        margin-left: -0.6rem;
      }
    }
    .right{
      width: 100%;

      .article-list{
        .article-grid{
          margin-left: 10%;
        }
        .mainTitle{
          padding-top: 20px;
        }
      }
    }
    
  }
}

@media only screen and (max-width: 557px) {
  .publication-landing-wrapper {
    .scrolled{
      .left-content{
        .link-report{
          margin-right: -75%;
        }
      }
      .drop-down-content{
        visibility: visible;
      }
      
    }
    
  }
  .right{
    .header-image-container{
      .header-img{
        height: 200px;
        object-fit: cover;
      }
    }
  }
}
@media only screen and (max-width: 432px) {
  .publication-landing-wrapper {
    .category-left-scrolled{
      margin-left: 12vw;
    }
  }
}
@media only screen and (max-width: 408px) {
  .publication-landing-wrapper {
    .scrolled{
      margin-left: 10vw;
    }
    .category-left-scrolled{
      margin-left: 16vw;
    }
  }
}
@media only screen and (max-width: 371px) {
  .publication-landing-wrapper {
    .scrolled{
      margin-left: 20vw;
    }
    .category-left-scrolled{
      margin-left: 24vw;
    }
    
  }
}
@media only screen and (max-width: 351px) {
  .publication-landing-wrapper {
    .category-left-scrolled{
      margin-left: 90px;
    }
    
  }
}

@media only screen and (max-width: 338px) {
  .publication-landing-wrapper {
    .scrolled{
      margin-left: 25vw;
    }
    .category-left-scrolled{
      margin-left: 140px;
    }
  }
}
@media only screen and (max-width: 316px) {
  .publication-landing-wrapper {
    .scrolled{
      margin-left: 45vw;
    }
    .category-left-scrolled{
      margin-left: 180px;
    }
    
  }
}


@media only screen and (max-width: 768px) {
  .publication-landing-wrapper {
    font-family: 'Roboto';
    .right {
      .latestArticles {
        width: 100%;
        .article-grid-large {
          width: 100%;
          margin-left: 0;
        }
        .article-grid {
          margin-left: 3rem;
          margin-top: 1rem;
          width: 80%;
        }
        .article-grid-horizontal {
          margin-left: 0;
        }
      }
    }
  }
  .publication-icon {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
