.category-info{

    font-family: Roboto, sans-serif;
    color: #687487;
    font-size: 12px;
    font-weight: 700;
    display: flex; 
    justify-content: space-between;
    margin-left: 5%;
    padding-top: 40px;
    margin-right: 110px;
    align-items: center;
    .category-name{
        color:#999999;
        font-size:24px;
    }
    .article-writer-flex{
        display: flex;
        .small-divider{
          width: 2px;
          height: 14px;
          margin-right: 5px;
          margin-left: 5px;
          align-self: center;
          background-color: #8c8c8c;
        }
    }
}

@media only screen and (max-width: 1089px) {
    .category-info{

        .category-name{
            font-size:26px;
        }
        .article-writer-flex{
            .articles-count{
                font-size: 10px;
            }
            .writers-count{
                font-size: 10px;
            }
            .small-divider{
                height: 10px;
            }
        }
        
    }
  }

  @media only screen and (max-width: 822px) {
    .category-info{

        .article-writer-flex{
            margin-right: -10px;
        }
        
    }
}
@media only screen and (max-width: 670px) {
    .category-info{

        .article-writer-flex{
            margin-right: -20px;
        }
        
    }
}

@media only screen and (max-width: 596px) {
    .category-info{

        .article-writer-flex{
            margin-right: -50px;
        }
        
    }
}