// Theme colors
$primary-color: #151451;
$accent-color: #02c3a1;
$second-accent-color: #43dfba;
$subtitle-text: #687487;
$upload-picture-color: #cafff2;

// Text colors
$primary-text-color: #00113e;
$tag-text-color: #666666;
$paragraph-text-color: #b2b2b2;
$route-text-color: #00113e;
$quote-color: rgba(0, 17, 62, 0.8);
$input-text-color: #4c4c52;
$edit-profile-input-text-color: #19192E;


// Background colors
$primary-background-color: #ffffff;
$selected-background-color: #d4d4d4;
$link-background: #f2f2f2;

//dark-mode
$dark-primary-background-color: #00113E;
$dark-primary-text-color: #FFFF;
$dark-secondary-text-color: #B2B2B2;
$dark-button-color: #43dfba;



// Border colors
$light-border-color: #d9d9d9;
$medium-border-color: #b2b2b2;
$darker-border-color: #999999;
$error-color: #cc4747;

// Highlights
$highlight-one: #25f68d;
$highlight-two: #1bc0f2;
$link-color: #0000ee;
$box-shadow: rgba(0, 0, 0, 0.2);

// Dividers
$divider-color: rgb(192, 192, 192);
$vertical-divider: #c4c4c4;

// Buttons
$button-border-hover: #435aac;
$button-hover-background: #10cfad;
$disabled-button-text: #e6e6e6;
$active-background-color: #303e84;

//FB EMAIL OPT IN
$FB-email-opt-in-button-color: #722680;
$FB-button-border-hover: #8e72e0;
$FB-button-hover-background: #8e72e0;
$FB-disabled-button-text: #e6e6e6;
$FB-active-background-color: #753675;
$FB-email-opt-in-button-color: #722680;
$FB-primary-background-color: #ffffff;
$FB-primary-text-color: black;

// Create/Edit articles
$title-divider-color: #00ffc3;
$text-editor-border: #1fe1bf;

// Tags (dropdown box on create/edit articles)
$tag-placeholder-color: #aaa;
$border-tags1: #ddd;
$border-tags2: #888;
$tag-token-background: #f2f2f2;
$tag-options-box-shadow: rgba(0, 0, 0, 0.16);

// Search Modal
$search-modal-background: rgba(255, 255, 255, 0.9);


// Quill Text Editor
$quill-background: rgb(255, 255, 255);
$quill-box-shadow: rgba(156, 156, 156, 0.05);