/*
  classes for displaying tags/topics as read-only links
  see /components/tags/_tags.scss for tags editor classes
*/
.tag-links {
  display: flex;
  justify-content: end;
  margin-top: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13pt;
  align-items: stretch;

  .tag-link {
    border-radius: 5px;
    background-color: $link-background;
    color: $tag-text-color;
    padding: 10px 16px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 10px;
    cursor: pointer;
    &:hover {
      background-color: $highlight-two;
      color: $primary-background-color;
    }
    &:active {
      background-color: $primary-color;
      color: $primary-background-color;
    }
    &:focus {
      background-color: $primary-color;
      color: $primary-background-color;
    }
  }
}
