.button-attributes-clap-button {
  margin-top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $medium-border-color;
  border: 1px solid $highlight-one;
  font-weight: 700;
  background-color: $primary-background-color;
  cursor: pointer;
  border-radius: 20px;
  justify-content: left;
  padding: 20px;
  background-image: url('../../../nuance_assets/assets/assets/images/icons/clap-blue.png');
  background-repeat: no-repeat;
  background-position-x: 55px;
  background-position-y: 6px;
  user-select: none;

  &:hover {
    background-color: $button-border-hover;
    transition: background-color 0.2s ease-in-out;
    color: $primary-background-color;
    background-image: url('../../../nuance_assets/assets/assets/images/icons/clap-white.svg');
    background-repeat: no-repeat;
    background-position-x: 55px;
    background-position-y: 6px;
    user-select: none;
  }

  &:active {
    background-color: $active-background-color;
    animation: glowing 3s;
    user-select: none;
    @keyframes glowing {
      0% {
        background-color: $active-background-color;
        box-shadow: 0 0 0 0 $box-shadow;
      }
      70% {
        background-color: $highlight-one;
        box-shadow: 0 0 1px 3px $highlight-one;
      }
      100% {
        background-color: $active-background-color;
        box-shadow: 0 0 0 0 $box-shadow;
      }
    }
  }
  &:disabled {
    background-color: $primary-background-color;
    color: $medium-border-color;
    cursor: default;
  }
  &[disabled]:hover {
    background-image: url('../../../nuance_assets/assets/assets/images/icons/clap-blue.png');
    color: $medium-border-color;
    cursor: default;
  }
}
.clap-counter {
  margin-left: 92px;
  margin-top: -12px;
  position: absolute;
  animation: fade2 4s ease-in-out;
  user-select: none;
}

.hide {
  display: none;
}
.clap-count-container {
  position: absolute;
  margin-left: 100px;
  color: $medium-border-color;
  animation: fade2 4s ease-in-out;
  user-select: none;
}
.clap-icon-container {
  position: absolute;
  margin-left: 40px;
  margin-top: -30px;
  animation: fade 0.5s;
  user-select: none;
}
.clap-icon-container-footer {
  position: absolute;
  margin-left: 40px;
  margin-top: 8px;
  animation: fade 0.5s;
  user-select: none;
}
.clap-count-container-footer {
  position: absolute;
  color: $medium-border-color;
  margin-right: -20px;
  animation: fade2 4s ease-in-out;
  user-select: none;
}

.clap-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  user-select: none;
}
.clap-icon {
  margin-right: 10px;
  user-select: none;
}

@keyframes fade2 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.button-attributes-clap-button-dark {
  margin-top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: $medium-border-color;
  border: 1px solid $medium-border-color;
  font-weight: 700;
  background-color: $dark-primary-background-color;
  cursor: pointer;
  border-radius: 20px;
  justify-content: left;
  padding: 20px;
  background-image: url('../../../nuance_assets/assets/assets/images/icons/clap-white.svg');
  background-repeat: no-repeat;
  background-position-x: 55px;
  background-position-y: 6px;
  user-select: none;

  &:hover {
    background-color: $button-border-hover;
    transition: background-color 0.2s ease-in-out;
    background-color: $dark-primary-background-color;
    color: $dark-primary-text-color;
    background-image: url('../../../nuance_assets/assets/assets/images/icons/clap-white.svg');
    background-repeat: no-repeat;
    background-position-x: 55px;
    background-position-y: 6px;
    user-select: none;
  }

  &:active {
    background-color: $active-background-color;
    animation: glowing 3s;
    user-select: none;
    @keyframes glowing {
      0% {
        background-color: $active-background-color;
        box-shadow: 0 0 0 0 $box-shadow;
      }
      70% {
        background-color: $highlight-one;
        box-shadow: 0 0 1px 3px $highlight-one;
      }
      100% {
        background-color: $active-background-color;
        box-shadow: 0 0 0 0 $box-shadow;
      }
    }
  }
  &:disabled {
    background-color: $dark-primary-background-color;
    color: $medium-border-color;
    cursor: default;
  }
  &[disabled]:hover {
    background-color: $dark-primary-background-color;
    background-image: url('../../../nuance_assets/assets/assets/images/icons/clap-white.svg');
    color: $medium-border-color;
    cursor: default;
  }
}
