.personal-articles-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .personal-articles-title-navigation-wrapper {
        width: 110%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        background: white;
        padding-left: 40px;
        position: sticky;
        top: 0;
        z-index: 3;

        .personal-articles-title {
            font-family: "Roboto";
            font-weight: 700;
            font-size: 12px;
            line-height: 24px;
            color: #999999;
            margin-top: 10px;
        }

        .personal-articles-navigation-items-wrapper {
            width: 100%;
            display: flex;
            padding-right: 20px;
            column-gap: 25px;
            border-bottom: 1px solid #B2B2B2;
            z-index: 3;
            

            .personal-articles-navigation-item {
                color: #B2B2B2;
                border-bottom: 1px solid transparent;
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                padding: 10px;
                line-height: normal;
                cursor: pointer;
                transition: 0.1s ease-in-out;
            }

            .selected {
                color: #151451;
                font-weight: 700;
                border-bottom: 2px solid #151451;
                margin-bottom: -1px;
            }
        }
    }


    .article-list-items-wrapper {
        padding-right: 20px;
        padding-left: 40px;
        width: 90%;

        .article-list-items-loader {}

        .personal-articles-load-more-container {
            align-self: center;
        }


    }
}

@media only screen and (max-width: 1200px) {
    .personal-articles-wrapper {
        width: 90%;
        .personal-articles-title-navigation-wrapper{
            width: 100%;
            padding-left: 15px;
            .personal-articles-navigation-items-wrapper{
                column-gap: 10px;
                .personal-articles-navigation-item{
                    padding: 5px;
                    font-size: 12px;
                }
            }
        }
        .article-list-items-wrapper{
            padding-left: 15px;
            width: 100%;
        }
    }
}