@import '../../shared/styles/Colors';


.read-article-wrapper {
  width: 100vw;
  margin: 0px;
  .page {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    min-width: 90%;
    min-height: 100vh;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-items: flex-end;
      border-right: 1px solid $light-border-color;
      padding-right: 20px;
      row-gap: 7px;
      max-width: 340px;

      .date {
        display: flex;
        transform-origin: right;
        transform: rotate(-90deg);
        color: $darker-border-color;
        text-align: 'right';
        margin: 0px 12px 0 0;
        padding: 0 0 0 50px;
      }

      .left-content {
        width: 100%;
        max-width: 208px;

        .menus {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 200px;
          padding: 10px 0;
        }

        .horizontal-divider {
          border-bottom: 1px solid $light-border-color;
        }

        .author {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 70%;
          padding: 20px 0;

          img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
          }

          a {
            padding-left: 16px;
            color: $route-text-color;
            word-wrap: break-word;
          }
        }
      }

      .left-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 5px;
        padding: 0 auto;
      }
    }

    .right {
      margin-top: -20px;
      width: 75%;
      max-width: 925px;

      .content {

        a:link {
          color: $link-color;
          text-decoration: none;
          word-wrap: break-word;
        }

        a:hover {
          text-decoration: underline;
        }

        .title-post-info-wrapper {
          padding: 0px 92px 0px 92px;
          max-width: 915px;

          .nft-lock-icon {
            width: 30px;
            margin-bottom: 20px;
          }

          .last-modified {
            font-family: Roboto;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: $darker-border-color;
            margin: 0 0 20px 0;
          }

        }

        .header-content-wrapper {
          padding: 0 0 0 91px;
          width: 100%;

          .header-image {
            height: 578px;
            max-width: 915px;
            
            object-fit: cover;
            margin-left: -91px;
            width: -webkit-fill-available;
            margin-bottom: 20px;
            background: white;
          }

          .nft-modal {
            background: white;
            position: absolute;
            z-index: 1;
            width: 40vw;
            height: 500px;
            top: 710px;
            left: 38%;
            border: #00113E solid;
            border-radius: 15px;
          }


          .text-not-allowed {
            filter: blur(6px);
            user-select: none;
          }

          .text {
            max-width: 715px;
            padding-right: 35px;
           
            a:visited {
              color: purple;
              font-size: 18px;
            }


            a {
              color: $link-color ;
              text-decoration: none;
              word-wrap: break-word;
              font-size: 18px;
            }

            ul li ol {
              font-family: 'PT Serif';
              color: $primary-text-color ;
              font-size: 18px;
              line-height: 32px;
            }

            p {
              font-family: 'PT Serif';
              font-size: 18px;
              line-height: 32px;
              color: $route-text-color;
            }

            .quote {
              font-size: 24px;
              font-weight: 700;
              border-left: 11px solid $quote-color;
              margin-left: -91px;
              padding-left: 80px;
              padding-top: 0;
              margin-top: 50px;
              width: 90%;
            }

            .text-subtitle {
              font-family: Roboto;
              font-size: 24px;
              font-weight: 500;
              color: $primary-color;
              padding-top: 50px;
            }


            .text-image {
              img {
                margin-top: 30px;
                width: 100%;
              }
            }

            .separator {
              width: 190px;
              height: 6px;
              display: flex;
              justify-content: space-between;
              margin: 56px auto 0 auto;

              .box {
                height: 100%;
                width: 6px;
                background-color: $quote-color;
              }

              .line {
                height: 100%;
                width: 160px;
                background-color: $quote-color;
              }
            }
          }
        }

        .profile-footer-wrapper {
          padding: 0px 91px 0px 91px;
        }

      }

      .about-author {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0 10px 0;
        max-width: 715px;

        .profile-picture {
          width: 96px;
          height: 96px;
        }

        .biography {
          width: 55%;
          text-align: center;
          padding: 20px 0;
        }
      }

      .not-found {
        margin-bottom: 150px;
        font-size: 1.5rem;
      }
    }
  }

}

.publication-avatar {
  position: relative;
  margin-bottom: 18px;
  margin-right: 10px;

  .publication-logo {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .publication-icon {
    height: 11px;
    width: 11px;
    margin-left: -8px;
    margin-top: 28px;
    position: absolute;
  }
}

.side-bar-clap-button {
  margin-top: 10px;
}

.tag-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: 715px;
}


.dark-text {

  max-width: 715px;
  padding-right: 91px;

  a:visited {
    color: purple;
    font-size: 18px;
  }

  width: 100%;

  h2 {
    color: $dark-primary-text-color;
  }

  a {
    color: $link-color ;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 18px;
  }

  ul li {
    font-family: 'PT Serif';
    color: $dark-primary-text-color ;
    font-size: 18px;
    line-height: 32px;
  }

  p {
    font-family: 'PT Serif';
    font-size: 18px;
    line-height: 32px;
    color: $dark-primary-text-color;
  }

  .quote {
    font-size: 24px;
    font-weight: 700;
    border-left: 11px solid $quote-color;
    margin-left: -91px;
    padding-left: 80px;
    padding-top: 0;
    margin-top: 50px;
    width: 90%;
  }

  .text-subtitle {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: $primary-color;
    padding-top: 50px;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }

  .text-image {
    img {
      margin-top: 30px;
      width: 100%;
    }
  }
}

.comment-section {
  overflow-x: scroll;
  max-width: 715px;

  ::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 1380px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              height: 520px;
            }

          }

        }
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              height: 550px;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              left: 17%;
              top: 430px;
              width: 55vw;
              height: 570px;
            }

            .unsufficient {
              height: 650px;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 683px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              left: 13%;
              top: 430px;
              width: 65vw;
              height: 570px;
            }

            .unsufficient {
              height: 650px;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 613px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              top: 430px;
              width: 65vw;
              height: 570px;
            }

            .unsufficient {
              height: 650px;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              top: 450px;
              left: 15%;
              height: 620px;
            }

            .unsufficient {
              height: 700px;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 338px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              left: 20%;
              top: 450px;
              width: 65vw;
              height: 670px;
            }

            .unsufficient {
              height: 780px;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 270px) {
  .read-article-wrapper {
    .page {

      .right {
        .content {
          .header-content-wrapper {
            .nft-modal {
              left: 22%;
              width: 70vw;
              height: 720px;
            }

            .unsufficient {
              height: 830px;
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .tag-and-button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .side-bar-clap-button {
    display: none;
  }

  .read-article-wrapper {
    margin: 0px;

    .page {
      width: 100%;
      justify-content: flex-start;

      .left {
       
        .date {
          margin: 0 -10px 0 0;
          width: max-content;
        }

        .left-content {
          display: none;
          visibility: hidden;
        }

        .left-menu {
          max-width: 100%;
          display: flex;
          width: 100%;
        }
      }

      .right {
        width: 100%;
        margin-top: 20px;

        .content {
          

          h1 {
            font-size: 32px;
          }

          h2 {
            font-size: 20px;
          }

          .title-post-info-wrapper {
            padding: 0 35px 0 35px;

            .last-modified {
              font-size: 12px;
            }

            .title {
              font-family: 'Georgia';
              font-style: normal;
              font-weight: 400;
              font-size: 48px;
              line-height: 55px;
              color: #00113E;
            }

            .subtitle {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 32px;
              color: #999999;
            }
          }


          .header-content-wrapper {
            padding: 0 0 0 35px;
            width: 100%;

            .header-image {
              object-fit: cover;
              margin-left: -35px;
              height: 400px;
             
              
              background: white;
            }

            .dark-text {

              max-width: 715px;
              padding-right: 35px;
            }

            .text {
              width: 100%;

              p {
                font-size: 18px;
              }

              .quote {
                font-size: 22px;
                font-weight: 700;
                border-left: 11px solid $quote-color;
                margin-left: -91px;
                padding-left: 80px;
                padding-top: 0;
                margin-top: 50px;
                width: 90%;
              }

              .text-subtitle {
                font-size: 18px;
              }

              .text-image {
                img {
                  margin-top: 30px;
                  width: 100%;
                }
              }
            }
          }

          .profile-footer-wrapper {
            padding: 0px 35px 0px 35px;
            max-width: 715px;
          }
        }

        .about-author {
          .biography {
            width: 100%;
          }
        }
      }
    }
  }

}

.testing {
  z-index: 6666;
}