
.stop-subscription-publication-icon{
    position: absolute;
    top: 20px;
}

.cancel-subscription-profile-image{
    height: 62px;
    width: 62px;
    border-radius: 100px;
    margin-top: 27px;
    margin-bottom: 13px;
    filter: grayscale(100%);
}