.publication-name-category {
    position: absolute;
    bottom: 33px;
    left: 5.9vw;
    
    color: #fff;
    font-size: clamp(40px, 7vw, 70px);
    font-family: Roboto;
   
  }

  .publication-handle-category {
    position: absolute;
    bottom: 10px;
      left: 5.5vw;
   
    color: #e6e6e6;
    font-size: clamp(12px, 1.2vw, 12px);
    font-family: Roboto;
   
    .at-handle{
      padding-left: 11px;
    }
  }

  .category-element.selected {
    font-weight: bold;
  }

  .publication-name-category,  .publication-handle-category {
    position: absolute;
    left: 5%; 
    z-index: 2; 
  }

  
@media only screen and (max-width: 1089px) {
    .publication-name-category{
        
    }
    .publication-handle-category{
       
        
    }
  }

  @media only screen and (max-width: 557px) {
    .publication-name-category{
     
    }
    .publication-handle-category{
       
    }
  }

  @media only screen and (max-width: 337px) {
    .category-left-scrolled{
      margin-left: 50px;
    }
  }

