.badge-wrapper{
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    text-wrap: nowrap;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}