.sidebar-button {
  display: flex;
  margin-left: -6px;
}
.my-profile-sidebar-menu {
  width: max-content;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 230px;
    //height: 200px;
    transition: 0.5s;

    .left-content-sidebar {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-left: 20px;
      .menus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 5px 0;

        .links {
          margin-bottom: 15px;
        }
      }
      .horizontal-divider {
        border-bottom: 1px solid $light-border-color;
        width: 100%;
      }
      .author {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 20px 0;

        img {
          width: 40px;
          height: 40px;
        }

        a {
          padding-left: 16px;
          color: $primary-text-color;
        }
      }
    }
  }
}
